
<div class="banner">
    <!--<video class="banner" poster="images/thumbnailOfVideo.png" controls>
		<source src="videos/Midas fusion.mp4" type="video/mp4">
	</video>-->
	<iframe class="banner" src="https://www.youtube.com/embed/Oz5WAzLn98w" frameborder="0" allowfullscreen></iframe>
</div>

<div class="section" ng-controller="BaseController">
    <h1 style=" -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.32));
    filter:         drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.32)); ">Why <span>Midas Fusion?</span></h1>
    <div class="three-panels right-zero">
        <h2><b>Organisations</b></h2>
        <div><img src="images/organizations.jpg" alt=""></div>
        <p >Collaboration with world-class premium Institutions and Talents/Youth to improve match of new hires resulting in reduce attrition and increased job satisfaction.

</p>
		<p ng-show="filter1">Branding opportunities for organisations in reputed institutions, with premium talents/youth</p>
        <p class="right"><a class="readmore" ng-click= "togglefilter(1); toggle1 = !toggle1;" >{{toggleText1}}</a></p>
    </div>
	
    <div class="three-panels right-zero">
        <h2><b>Education institutes</b></h2>
        <div><img src="images/education-institutes.jpg" alt=""></div>
        <p style="margin-bottom:46px;">Collaboration with world-class mentors, innovators and Industry to improve innovation, research and internship/employment satisfaction for their graduates.</p>
        
    </div>
	
    <div class="three-panels right-zero">
        <h2><b>Students/Professionals</b></h2>
        <div><img src="images/students.jpg" alt=""></div>
        <p>Collaboration with world-class mentors, innovators and Industry to improve innovation, research and internship/employment satisfaction in their area of interest/business.</p>
        <br><br>
	</div>
    <div class="three-panels right-zero">
        <h2><b>Mentors</b></h2>
        <div><img src="images/mentor.jpg" alt=""></div>
        
        <p>Collaboration with world-class premium Institutions and Talents/Youth to allow “give-back".</p>
		<br><br><br><br><br>
	</div>
	
    <div class="devider clear"></div>
    <h1 style=" -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.32));
    filter:         drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.32)); ">WHAT WE DO <span>FOR YOU?</span></h1>
       <!-- <p class="for-you">Strengthens links between premium higher education institutions, mentors,  and public, private and nonprofit organisation by facilitating the engagement with students, academics and researchers.</p>
		<p class="for-you">Facilitates idea and knowledge sharing amongst the most promising  young entrepreneurs, professionals inspiring a collaborative approach to business start-up and professional growth.</p>
		<p class="for-you">Empowers not just India’s youth in their business or professional endeavours, but youth globally: in recognition that they are the driving force behind global development and growth through innovation.</p>-->
    
      
       <div class="text-banner">
        <div id="myCarousela" class="carousel slide text-slide" data-interval="10">
         <!-- Carousel indicators ---->
           
        <!-- Carousel items -->
        <div class="carousel-inner">
            <span style="font-size: 14px;" text-carousel values="Connecting Best Talent With Opportunity In Digital Age!!.. Strengthens links between premium higher education institutions, mentors,  and public, private and nonprofit organisation by facilitating the engagement with students, academics and researchers..  Facilitates idea and knowledge sharing amongst the most promising  young entrepreneurs, professionals inspiring a collaborative approach to business start-up and professional growth..  Empowers not just India’s youth in their business or professional endeavours, but youth globally: in recognition that they are the driving force behind global development and growth through innovation."></span>
        </div>
        </div>
	</div>
    
    <ng-include src="'templates/footer.html'"></ng-include>
    <div class="loading-spiner-holder" data-loading ></div>
</div>
