<div class="section">
    <div class="left-section left-section-inner" ng-controller="MenuController">
        <div class="search-form">
            <h3 class="center">Switch Your User Type</h3>
            <label style="font-weight: normal" ng-repeat="type in user.typeName">
                <input
                    type="radio"

                    value="{{type.userType}}"
                    ng-click="changeUserType(type)"
                    > {{type.userType|titleCase}}&nbsp;

            </label>
        </div>
    </div>
    <ng-include src="'templates/right-menu.html'"></ng-include>	
    <ng-include src="'templates/footer.html'"></ng-include>
</div>