<div class="section" ng-controller="SearchController">
    <div class="loading-spiner-holder" data-loading ></div>
    <div class="left-section left-section-inner" ng-show="user.userType === 'institute'">
        <div align="center">
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm = true;showForm1 = false" style="width: 2em; height: 1em;"><label>Profile Search</label>&nbsp;&nbsp;
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm1 = true;showForm = false" style="width: 2em; height: 1em;"><label>Opportunity Search</label>
        </div><p></p>
        <div ng-show="showForm">		
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-click="showOrg = true;showMentor = false">Search Organisations</a></li>
                <li><a href="" ng-click="showMentor = true;showOrg = false">Search Mentors</a></li>
            </ul>


            <p></p>

            <div ng-show="showOrg">
                <div ng-include src="'templates/searchOrg.html'"></div>
            </div>
            <div ng-show="showMentor">
                <div ng-include src="'templates/searchMentor.html'"></div>
            </div>
        </div>

        <div ng-show="showForm1">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-model="type" ng-click="type = 'job';showJob = true;showMentorship = false;showGuest = false">Job</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'internship';showJob = true;showMentorship = false;showGuest = false">Internship</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'research';showJob = true;showMentorship = false;showGuest = false">Research</a></li>
              
            </ul>
            <p></p>
            <div ng-show="showJob">
                <div ng-include src="'templates/searchJob.html'"></div>
            </div>

           

        </div>
    </div>
     <div class="left-section left-section-inner" ng-show="user.userType === 'mentor'">
        <div align="center">
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm = true;showForm1 = false" style="width: 2em; height: 1em;"><label>Profile Search</label>&nbsp;&nbsp;
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm1 = true;showForm = false" style="width: 2em; height: 1em;"><label>Opportunity Search</label>
        </div><p></p>
        <div ng-show="showForm">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-model="type" ng-click="type = 'searchStudent';showStudent = true;showOrg = false;showInstitute = false">Search Students/Professionals</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'searchOrg';showOrg = true;showStudent = false;showInstitute = false">Search Organizations</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'searchInst';showInstitute = true;showStudent = false;showOrg = false">Search Institutes</a></li>
            </ul>


            <p></p>

            <div ng-show="showStudent">
                <div ng-include src="'templates/searchStudents.html'"></div>
            </div>
            <div ng-show="showOrg">
                <div ng-include src="'templates/searchOrg.html'"></div>
            </div>
            <div ng-show="showInstitute">
                <div ng-include src="'templates/searchInstitutes.html'"></div>
            </div>
        </div>

        <div ng-show="showForm1">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-model="type" ng-click="type = 'job';showJob = true;showMentorship = false;showGuest = false">Job</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'internship';showJob = true;showMentorship = false;showGuest = false">Internship</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'research';showJob = true;showMentorship = false;showGuest = false">Research</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'mentorship';showMentorship = true;showJob = false;showGuest = false">Mentorship</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'guest';showMentorship = false;showJob = false;showGuest = true">Guest Speaker</a></li>
            </ul>
            <p></p>
            <div ng-show="showJob">
                <div ng-include src="'templates/searchJob.html'"></div>
            </div>

            <div ng-show="showMentorship">
                <div ng-include src="'templates/searchMentorship.html'"></div>
            </div>

            <div ng-show="showGuest">
                <div ng-include src="'templates/searchGuestSpeaker.html'"></div>
            </div>

        </div>
    </div>
    <div class="left-section left-section-inner" ng-show="user.userType === 'student'">

        <div align="center">
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm = true;showForm1 = false" style="width: 2em; height: 1em;"><label>Profile Search</label>&nbsp;&nbsp;
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm1 = true;showForm = false" style="width: 2em; height: 1em;"><label>Opportunity Search</label>
        </div><p></p>

        <div ng-show="showForm">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-click="showOrg = true;showMentor = false;showInstitute = false">Search Organisations</a></li>
                <li><a href="" ng-click="showMentor = true;showOrg = false;showInstitute = false">Search Mentors</a></li>
                <li><a href="" ng-click="showInstitute = true;showOrg = false;showMentor = false">Search Institutes</a></li>
            </ul>


            <p></p>

            <div ng-show="showOrg">
                <div ng-include src="'templates/searchOrg.html'"></div>
            </div>
            <div ng-show="showMentor">
                <div ng-include src="'templates/searchMentor.html'"></div>
            </div>
            <div ng-show="showInstitute">
                <div ng-include src="'templates/searchInstitutes.html'"></div>
            </div>

        </div>	
        <div ng-show="showForm1">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-model="type" ng-click="type = 'job';showJob = true;showEvent = false;showMentee = false">Job</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'internship';showJob = true;showEvent = false;showMentee = false">Internship</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'research';showJob = true;showEvent = false;showMentee = false">Research</a></li>

                <li><a href="" ng-click="showEvent = true;
                    showJob = false;
                    showMentee = false">Events</a></li>

                <li><a href="" ng-model="type" ng-click="type = 'mentee';showMentee = true;showEvent = false;showJob = false">Mentorship</a></li>


            </ul>
            <div ng-show="showJob">
                <div ng-include src="'templates/searchJob.html'"></div>
            </div>
            <div ng-show="showEvent">
                <div ng-include src="'templates/searchEvent.html'"></div>
            </div>

            <div ng-show="showMentee">
                <div ng-include src="'templates/searchMentee.html'"></div>


            </div>
        </div>
    </div>
    <div class="left-section left-section-inner" ng-show="user.userType === 'organisation'">

        <div align="center">
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm = true;showForm1 = false" style="width: 2em; height: 1em;"><label>Profile Search</label>&nbsp;&nbsp;
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm1 = true;showForm = false" style="width: 2em; height: 1em;"><label>Opportunity Search</label>
        </div><p></p>

        <div ng-show="showForm">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-click="showStudent = true;showMentor = false;showInstitute = false">Search Students/Professionals</a></li>
                <li><a href="" ng-click="showMentor = true;showStudent = false;showInstitute = false">Search Mentors</a></li>
                <li><a href="" ng-click="showInstitute = true;showStudent = false;showMentor = false">Search Institutes</a></li>
            </ul>


            <p></p>

            <div ng-show="showStudent">
                <div ng-include src="'templates/searchStudents.html'"></div>
            </div>
            <div ng-show="showMentor">
                <div ng-include src="'templates/searchMentor.html'"></div>
            </div>
            <div ng-show="showInstitute">
                <div ng-include src="'templates/searchInstitutes.html'"></div>
            </div>

        </div>	
        <div ng-show="showForm1">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-click="showEvent = true;showMentorship = false;showGuest = false">Event Sponsorship</a></li>
                <li><a href="" ng-click="showMentorship = true;showEvent = false;showGuest = false">Mentorship</a></li>
                <li><a href="" ng-click="showMentorship = false;showEvent = false;showGuest = true">Guest Speaker</a></li>
            </ul>
            <div ng-show="showEvent">
                <div ng-include src="'templates/searchEvent.html'"></div>
            </div>
            <div ng-show="showMentorship">
                <div ng-include src="'templates/searchMentorship.html'"></div>
            </div>
            <div ng-show="showGuest">
                <div ng-include src="'templates/searchGuestSpeaker.html'"></div>
            </div>

        </div>
        <p></p>



    </div>
     <ng-include src="'templates/right-menu.html'"></ng-include>	

    <ng-include src="'templates/footer.html'"></ng-include>
</div>