<div class="section"  ng-controller="BaseController">
    <div class="loading-spiner-holder" data-loading ></div>
    <div class="profile-section profile-card">
        <h4 align="center"><strong>Feel Free To Tell us Anything</strong></h4>
        <hr>
        <form name="form">  
            <label>*Title:</label>
            <div ng-class="{ 'has-error': form.title.$touched && form.title.$invalid}">

                <input name="title" class="form-control" type="text" placeholder="Enter Title" ng-model="header" required/>
                <div class="help-block" ng-messages="form.title.$error" ng-if="form.title.$touched">
                    <p ng-message="required">This field is required!</p>
                </div>
            </div>
            <label style="margin-top: 10px;">*Message:</label>
            <div ng-class="{ 'has-error': form.message.$touched && form.message.$invalid}">

                <textarea name="message" placeholder="Message" class="form-control"  ng-model="description" style="height:200px;" value="" required=""></textarea> 
                <div class="help-block" ng-messages="form.message.$error" ng-if="form.message.$touched">
                    <p ng-message="required">This field is required!</p>
                </div>
            </div>
            <div align="center" style="top: 10px;">
                <button type="submit" ng-disabled="form.$invalid" title="Send Message" style="margin-top: 10px;" class="btn btn-bitbucket" align="center" ng-click="contact();">Send Message</button>
            </div>


        </form>   
    </div>
      <ng-include src="'templates/footer.html'"></ng-include>
</div>