<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <title>&copy;COPYRIGHT</title>
        <link rel="icon" href="../images/midasfusion-small-logo.png" />

        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">

        <link rel="stylesheet" href="../css/main.css" type="text/css"/>

    </head>
     <body class="section">
<div class="profile-card profile-section" style="text-align:justify">
 
<h3 align="center">&copy; COPYRIGHT</h3>
<h3 align="center">By</h3>
<div align="center"> <a href="http://www.midasblue.com" target="_blank"><img src="../images/midasblue-logo.png" alt="logo"></a></div>
<h3 align="center">2016</h3> 
<h3 align="center">All Rights Reserved</h3>
<p>The Materials on this website are owned by Midas Blue and/or its licensors. Any redistribution or reproduction of part or all of the Materials in any form is prohibited other than the following:</p>
<p>•	You may print or download the Materials to a local hard disk for your non-commercial use only. Such non-commercial use shall be limited to Your research and educational purposes;</p>

<p>•	You may copy the Materials to individual third parties for their non-commercial use only if you acknowledge Midas Blue as the source of the Materials.</p>
<p>Except as stated above and subject to Our express written permission, You shall not distribute or commercially exploit the Materials. Nor shall You transmit the Materials or store them in any other form of electronic retrieval system.</p>

</div>
</body>
</html>