<div class="section" ng-controller="EditOpportunityController">
    <div class="loading-spiner-holder" data-loading ></div>

    <div class="left-section left-section-inner">
        <div>
            <h4 class="inner-head">Mentorship Opportunity</h4>
        </div>

        <p></p>
        <div class="search-form">
            <form name="form" role="form"> <!--ng-submit="postOpportunity(form.$valid)"-->
                <div align="right">
                    <button type="reset" value="Reset">Clear All</button></div>

                <label>*Summary:</label>
                <div ng-class="{ 'has-error': form.jobDescription.$touched && form.jobDescription.$invalid}">
                    <textarea class= "form-control" name="jobDescription" rows="3" maxlength="1000" ng-model='opp.summary' placeholder="Enter Summary (characters limit is 1000)" required="" autofocus></textarea>
                    <div class="help-block" ng-messages="form.jobDescription.$error" ng-if="form.jobDescription.$touched">
                        <p ng-message="required">This field is required!</p>
                    </div>
                </div>

                <p></p>

                <label>*Opportunity Description:</label>
                <div ng-class="{ 'has-error': form.oppDesc.$touched && form.oppDesc.$invalid}">
                    <textarea class= "form-control" name="oppDesc" rows="3" maxlength="7000" ng-model='opp.opportunityDescription' placeholder="Enter Description (characters limit is 1000)" required=""></textarea>
                    <div class="help-block" ng-messages="form.oppDesc.$error" ng-if="form.oppDesc.$touched">
                        <p ng-message="required">This field is required!</p>
                    </div>
                </div>
                <p></p>
                <label>*Key Skills:</label>
                <div  ng-class="{
                    'has-error'
                    :skillMessage && opp.keySkills.length===0}"><selectize config='skillConfig' options='skillOptions' ng-model="opp.keySkills"></selectize>


                    <p ng-show="skillMessage && opp.keySkills.length === 0" class="help-block">{{skillMessage}}</p>

                </div>


                <label>*Domain Interest:</label>
                <div  ng-class="{
                    'has-error'
                    :domainMessage}">

                    <selectize config='domainsConfig' options='domainOptions' ng-model="opp.domainInterest"></selectize>
                    <div class="has-error" ng-show="$parent.domainMessage" ><p class="help-block">{{$parent.domainMessage}}</p>
                    </div>

                </div>
                <p></p>
                <p></p>


                <label>*Functional Interest:</label>
                <!--<dropdown-multiselect class="btn-alignment" name="functionInterest" model="selectedfunctionInterests" placeholder="Select IT Functions" options="functionInterests"></dropdown-multiselect>-->
                <div  ng-class="{
                    'has-error'
                    :interestMessage && opp.functionInterest.length===0}">
                    <selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="opp.functionInterest"></selectize>
                    <p ng-show="interestMessage && opp.functionInterest.length === 0" class="help-block">{{interestMessage}}</p>
                    <p></p>
                </div>
                <div class="field-separator"></div>

                <p></p>
                <div>
                    <h4 class="inner-head">Mentee Eligibility Criteria</h4>

                    <b>*Add Qualification</b>
                    <div>

                        <selectize name="major" config='majorConfig' options='majorOptions' ng-model='opp.eduDetails[0].major'></selectize>
                        <p ng-show="majorMessage" class="msg-error">{{majorMessage}}</p>
                        <selectize name="course" config='courseConfig' options='courseOptions' ng-model='opp.eduDetails[0].qualification'></selectize>
                        <p ng-show="courseMessage" class="msg-error">{{courseMessage}}</p>
                        <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='opp.eduDetails[0].streams'></selectize>
                        <p ng-show="streamMessage" class="msg-error">{{streamMessage}}</p>
                        <p></p>


                    </div>



                    <div>

                        <div><label>*Institute Type:</label> &nbsp; &nbsp;


                            <label style="font-weight: normal" ng-repeat="type in types">
                                <input
                                    type="checkbox"
                                    name="selectedTypes[]"
                                    value="{{type.name}}"
                                    ng-model="type.selected"
                                    > {{type.name}}&nbsp;

                            </label>
                            <div class="has-error" ng-show="typesMessage">
                                <p ng-show="typesMessage" class="help-block">{{typesMessage}}</p>
                            </div>
                            <p></p>
                        </div>
                        <div class="form">
                            <label>*Min. Experience:</label> 
                            <div ng-class="{
                'has-error'
                    : form.minExp.$touched && form.minExp.$invalid}">
                                <select class="form-control"  required name="minExp" ng-model='opp.minExp'>
                                    <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                                    <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                                    <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                                    <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                                    <option value="9">9 years</option><option value="10">10 years</option><option value="15">15 years</option>
                                <option value="20">20 years</option><option value="25">25 years</option>
                                </select>
                                <div class="help-block" ng-messages="form.minExp.$error" ng-if="form.minExp.$touched">
                                    <p ng-message="required">Select Min Experience</p>
                                </div>

                            </div>

                            <label>*Max. Experience:</label> 
                            <div ng-class="{
                'has-error': form.maxExp.$touched && form.maxExp.$invalid}">
                                <select class="form-control"  required name="maxExp" ng-model='opp.maxExp'>
                                    <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                                    <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                                    <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                                    <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                                    <option value="9">9 years</option><option value="10">10 years</option><option value="15">15 years</option>
                                <option value="20">20 years</option><option value="25">25 years</option>
                                </select>
                                <div class="help-block" ng-messages="form.maxExp.$error" ng-if="form.maxExp.$touched">
                                    <p ng-message="required">Select Max Experience</p>
                                </div>
                            </div> 

                        </div><p></p>
                        <div><label>*Paid/Free:</label> &nbsp; &nbsp;
                            <div ng-class="{
                'has-error': form.score.$touched && form.score.$invalid}">
                                <input type="radio" name="score" value="Paid" ng-model='opp.paidOrFree' required> Paid &nbsp; &nbsp;
                                <input type="radio" name="score" value="Free" ng-model='opp.paidOrFree'> Free</div>
                            <div class="help-block" ng-messages="form.score.$error" ng-if="form.score.$touched">
                                <p ng-message="required">Select Paid/Free</p>
                            </div>
                            <p></p>
                            <div class="field-separator"></div><p></p>

                            <!--<div class="field-separator"></div>-->


                            <!--<input type="hidden" name="country" ng-model='$parent.type' ng-init="$parent.type = 'mentee'" value="Mentorship">-->


                            <div class="form-footer">
                                <input type="submit" class="btn btn-primary" ng-show="opp.action === 'edit'" ng-disabled="form.$invalid" value="Update Opportunity" ng-click="EditOpportunity()"><!--ng-disabled="form.$invalid"-->
                                <input type="submit" class="btn btn-primary" ng-show="opp.action === 'copy'" ng-disabled="form.$invalid"  value="Post Opportunity" ng-click="PostNewOpportunity()"><!--ng-disabled="form.$invalid"-->
                                <input type="button" class="btn btn-danger" ng-click="back()" value="Back"><!--ng-disabled="form.$invalid"-->
                                <!--<i class="fa fa-upload"></i>-->

                            </div>	<p></p>				
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <ng-include src="'templates/right-menu.html'"></ng-include>	
    <ng-include src="'templates/footer.html'"></ng-include>
</div>