<div>
    <div class="horizontal-line"></div>
    <h2 class="inner-head">Educational Details</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-5"><label>All India Rank(GEN):</label></div>
        <div class="col-md-7"><input type="text" class="form-control" string-to-number only-num maxlength="5"  title="Enter All India Rank(GEN)" placeholder="Enter AIR (GEN.)" ng-model="user.jeeMain"></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-5"><label>All India Rank(Advanced):</label></div>
        <div class="col-md-7"><input type="text" class="form-control" string-to-number only-num maxlength="5" title="Enter All India Rank(Advanced)" placeholder="Enter AIR (Advanced)" ng-model="user.jeeAdv"></div>
    </div>
</div>

<!--<div class="row">
        <div class="col-md-6">
        <div class="col-md-5"><label>Add Education</label></div>
        <div class="col-md-7"><button class="addfields" ng-click="addNewChoice()"><img src="images/add-icon.png"></button></div>
 <fieldset  data-ng-repeat="choice in choices">
                              
                              <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
                              <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                           </fieldset>
                           <button class="addfields" ng-click="addNewChoice()">Add fields</button>
                               
                           <div id="choicesDisplay">
                              {{ choices }}
                           </div>
</div>-->

<div ng-show="$parent.showBlock" ng-init="$parent.showBlock = true; disableBlock = false;">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock" ng-click="disableBlock = false">Edit</i><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*School/College:</label>
            </div>
            <div class="col-md-7">
                <input type="text" ng-disabled="disableBlock" only-alpha  ng-model="$parent.school" class="form-control" placeholder="Enter your school/college name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startDate.$touched & & form.startDate.$invalid}">
                                <input type="text" string-to-number only-num minlength="" maxlength="4" name="startDate" class="form-control" ng-disabled="disableBlock" ng-model='$parent.startDate' placeholder="Start Year in YYYY"  pattern="\d{4}" ></input>
                    <div class="help-block" ng-messages="form.startDate.$error" ng-if="form.startDate.$touched">
                        <p ng-message="minlength">Start Year contain 4 Digits.</p>
                        <p ng-message="required">Start Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endDate.$touched && form.endDate.$invalid}">
                                <input type="text" string-to-number only-num minlength="4" maxlength="4" name="endDate" class="form-control" start-date="{{$parent.startDate}}" compare-with-start-date ng-disabled="disableBlock" ng-model='$parent.endDate' placeholder="End Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endDate.$error" ng-if="form.endDate.$touched">
                        <p ng-message="minlength">Start Year contain 4 Digits.</p>
                        <p ng-message="required">End Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                        <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>  </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Course:</label></div>
            <div class="col-md-7"><selectize name="course" config='courseConfig' options='courseOptions' ng-disabled="disableBlock" ng-model='$parent.course'></selectize>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Stream:</label></div>
            <div class="col-md-7"><selectize name="stream" config='streamConfig' options='streamOptions' ng-disabled="disableBlock" ng-model='$parent.stream'></selectize> </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Percentage/CGPA:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.perMin.$touched && form.perMin.$invalid}">
                    <input type="percent" class="form-control" string-to-number step="0.01" ng-model="$parent.grade" ng-disabled="disableBlock" placeholder="Percentage/CGPA" name="perMin" pattern="(([1-9](\.[0-9]{1,2}))|([1-9][0-9](\.[0-9]{1,2})))" > 
                    <div class="help-block" ng-messages="form.perMin.$error" ng-if="form.perMin.$touched">
                        <p ng-message="required">Percentage/CGPA is required.</p>
                        <P ng-message="pattern">Enter Valid Percentage/CGPA with 2 Decimal Points.<br>
                            Eg. CGPA 7.00<br>
                            Eg. Percentage 70.90</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>Activities:</label></div>
            <div class="col-md-7"><textarea name="activities" class="form-control" ng-disabled="disableBlock" ng-model='$parent.activity' placeholder="Activities"></textarea>  </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" class="form-control" ng-disabled="disableBlock" ng-model='$parent.description' placeholder="Description"></textarea></div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock" ng-click="disableBlock = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock1 = true; disableBlock = true"/></a>Add
    <p></p>
</div>

<div  ng-show="$parent.showBlock1">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock1" ng-click="disableBlock1 = false">Edit</i><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*School/College:</label>
            </div>
            <div class="col-md-7">
                <input type="text" ng-disabled="disableBlock1" only-alpha ng-model="$parent.school1" class="form-control" placeholder="Enter your school/college name">

            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startDate1.$touched &&  form.startDate1.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="startDate1" class="form-control" ng-disabled="disableBlock1" ng-model='$parent.startDate1' placeholder="Start Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startDate1.$error" ng-if="form.startDate1.$touched">
                        <p ng-message="minlength">Password must contain 8 characters.</p>
                        <p ng-message="required">Start Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Year:</label></div>
            <div class="col-md-7"><div ng-class="{
                    'has-error'
                            : form.endDate1.$touched && form.endDate1.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="endDate1" class="form-control" start-date="{{$parent.startDate1}}" compare-with-start-date ng-disabled="disableBlock1" ng-model='$parent.endDate1' placeholder="End Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endDate1.$error" ng-if="form.endDate1.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                         <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div> </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Course:</label></div>
            <div class="col-md-7"><selectize name="course" config='courseConfig' options='courseOptions' ng-disabled="disableBlock1" ng-model='$parent.course1'></selectize></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Stream:</label></div>
            <div class="col-md-7"><selectize name="stream" config='streamConfig' options='streamOptions' ng-disabled="disableBlock1" ng-model='$parent.stream1'></selectize></div>
        </div>

        <div class="col-md-6">
            <div class="col-md-5"><label>*Percentage/CGPA:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.grade1.$touched && form.grade1.$invalid}">
                    <input type="percent" name="grade1" string-to-number step="0.01" class="form-control" ng-disabled="disableBlock1" ng-model='$parent.grade1' placeholder="Percentage/CGPA" pattern="(([1-9](\.[0-9]{1,2}))|([1-9][0-9](\.[0-9]{1,2})))" ></input>
                    <div class="help-block" ng-messages="form.grade1.$error" ng-if="form.grade1.$touched">
                        <p ng-message="required">Percentage/CGPA is required.</p>
                        <p ng-message="pattern">Enter Valid Percentage/CGPA with 2 Decimal Points.<br>
                            Eg. CGPA 7.00<br>
                            Eg. Percentage 70.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>Activities:</label></div>
            <div class="col-md-7"><textarea name="activities" class="form-control" ng-disabled="disableBlock1" ng-model='$parent.activity1' placeholder="Activities"></textarea>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" class="form-control" ng-disabled="disableBlock1" ng-model='$parent.description1' placeholder="Description"></textarea></div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock1" ng-click="disableBlock1 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png"  ng-click="$parent.showBlock1 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock2 = true; disableBlock1 = true"/></a>Add
    <p></p>
</div>

<div ng-show="$parent.showBlock2">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock2" ng-click="disableBlock2 = false">Edit</i><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*School/College</label>
            </div>
            <div class="col-md-7">

                <input type="text" ng-disabled="disableBlock2"  only-alpha ng-model="$parent.school2" class="form-control" placeholder="Enter your school/college name">
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startDate2.$touched &&  form.startDate2.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="startDate2" class="form-control" ng-disabled="disableBlock2" ng-model='$parent.startDate2' placeholder="Start Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startDate2.$error" ng-if="form.startDate2.$touched">
                        <p ng-message="required">Start Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endDate2.$touched&& form.endDate2.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="endDate2" class="form-control" start-date="{{$parent.startDate2}}" compare-with-start-date ng-disabled="disableBlock2" ng-model='$parent.endDate2' placeholder="End Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endDate2.$error" ng-if="form.endDate2.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                         <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div> </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Course:</label></div>
            <div class="col-md-7"><selectize name="course" config='courseConfig' options='courseOptions' ng-disabled="disableBlock2" ng-model='$parent.course2'></selectize></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Stream:</label></div>
            <div class="col-md-7"><selectize name="stream" config='streamConfig' options='streamOptions' ng-disabled="disableBlock2" ng-model='$parent.stream2'></selectize></div>

        </div>

        <div class="col-md-6">
            <div class="col-md-5"><label>*Percentage/CGPA:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.grade2.$touched && form.grade2.$invalid}">
                    <input type="percent" name="grade2" string-to-number step="0.01" class="form-control" ng-disabled="disableBlock2" ng-model='$parent.grade2' placeholder="Percentage/CGPA" pattern="(([1-9](\.[0-9]{1,2}))|([1-9][0-9](\.[0-9]{1,2})))"></input>
                    <div class="help-block" ng-messages="form.grade2.$error" ng-if="form.grade2.$touched">
                        <p ng-message="required">Percentage/CGPA is required.</p>
                        <p ng-message="pattern">Enter Valid Percentage/CGPA with 2 Decimal Points.<br>
                            Eg. CGPA 7.00<br>
                            Eg. Percentage 70.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>Activities:</label></div>
            <div class="col-md-7"><textarea name="activities" class="form-control" ng-disabled="disableBlock2" ng-model='$parent.activity2' placeholder="Activities"></textarea></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" class="form-control" ng-disabled="disableBlock2" ng-model='$parent.description2' placeholder="Description"></textarea></div>
        </div>
    </div>

    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock2" ng-click="disableBlock2 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png"  ng-click="$parent.showBlock2 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock3 = true; disableBlock2 = true"/></a>Add
    <p></p></div>

<div ng-show="$parent.showBlock3">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock3" ng-click="disableBlock3 = false">Edit</i><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5">  <label>*School/College:</label>
            </div>
            <div class="col-md-7">
                <input type="text" ng-disabled="disableBlock3" only-alpha ng-model="$parent.school3" class="form-control" placeholder="Enter your school/college name">

            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startDate3.$touched &&  form.startDate3.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="startDate3" class="form-control" ng-disabled="disableBlock3" ng-model='$parent.startDate3' placeholder="Start Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startDate3.$error" ng-if="form.startDate3.$touched">
                        <p ng-message="minlength">Password must contain 8 characters.</p>
                        <p ng-message="required">Start Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endDate3.$touched&& form.endDate3.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="endDate3" class="form-control" start-date="{{$parent.startDate3}}" compare-with-start-date ng-disabled="disableBlock3" ng-model='$parent.endDate3' placeholder="End Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endDate3.$error" ng-if="form.endDate3.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                         <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Course:</label>	</div>
            <div class="col-md-7"><selectize name="course" config='courseConfig' options='courseOptions' ng-disabled="disableBlock3" ng-model='$parent.course3'></selectize></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Stream:</label></div>
            <div class="col-md-7"><selectize name="stream" config='streamConfig' options='streamOptions' ng-disabled="disableBlock3" ng-model='$parent.stream3'></selectize></div>

        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Percentage/CGPA:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.grade3.$touched && form.grade3.$invalid}">
                    <input type="percent" name="grade3" string-to-number step="0.01" class="form-control" ng-disabled="disableBlock3" ng-model='$parent.grade3' placeholder="Percentage/CGPA" pattern="(([1-9](\.[0-9]{1,2}))|([1-9][0-9](\.[0-9]{1,2})))"></input>
                    <div class="help-block" ng-messages="form.grade3.$error" ng-if="form.grade3.$touched">
                        <p ng-message="required">Percentage/CGPA is required.</p>
                        <p ng-message="pattern">Enter Valid Percentage/CGPA with 2 Decimal Points.<br>
                            Eg. CGPA 7.00<br>
                            Eg. Percentage 70.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>Activities:</label>	</div>
            <div class="col-md-7"><textarea name="activities" class="form-control" ng-disabled="disableBlock3" ng-model='$parent.activity3' placeholder="Activities"></textarea></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" class="form-control" ng-disabled="disableBlock3" ng-model='$parent.description3' placeholder="Description"></textarea>
            </div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock3" ng-click="disableBlock3 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock3 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock4 = true; disableBlock3 = true"/></a>Add
    <p></p>
</div>

<div ng-show="$parent.showBlock4">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock4" ng-click="disableBlock4 = false">Edit</i><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"> <label>*School/College:</label>
            </div>
            <div class="col-md-7">
                               <input type="text" ng-disabled="disableBlock4" only-alpha ng-model="$parent.school4" class="form-control" placeholder="Enter your school/college name">

            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startDate4.$touched &&  form.startDate4.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="startDate4" class="form-control" ng-disabled="disableBlock4" ng-model='$parent.startDate4' placeholder="Start Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startDate4.$error" ng-if="form.startDate4.$touched">

                        <p ng-message="required">Start Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endDate4.$touched&& form.endDate4.$invalid}">
                    <input type="text" string-to-number only-num maxlength="4" name="endDate4" class="form-control" start-date="{{$parent.startDate4}}" compare-with-start-date ng-disabled="disableBlock4" ng-model='$parent.endDate4' placeholder="End Year in YYYY"  pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endDate4.$error" ng-if="form.endDate4.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                         <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>

            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Course:</label>	</div>
            <div class="col-md-7"><selectize name="course" config='courseConfig' options='courseOptions' ng-disabled="disableBlock4" ng-model='$parent.course4'></selectize>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Stream:</label></div>
            <div class="col-md-7"><selectize name="stream" config='streamConfig' options='streamOptions' ng-disabled="disableBlock4" ng-model='$parent.stream4'></selectize></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Percentage/CGPA:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.grade4.$touched && form.grade4.$invalid}">
                    <input type="percent" name="grade4" string-to-number step="0.01" class="form-control" ng-disabled="disableBlock4" ng-model='$parent.grade4' placeholder="Percentage/CGPA" pattern="(([1-9](\.[0-9]{1,2}))|([1-9][0-9](\.[0-9]{1,2})))"></input>
                    <div class="help-block" ng-messages="form.grade4.$error" ng-if="form.grade4.$touched">
                        <p ng-message="required">Percentage/CGPA is required.</p>
                        <p ng-message="pattern">Enter Valid Percentage/CGPA with 2 Decimal Points.<br>
                            Eg. CGPA 7.00<br>
                            Eg. Percentage 70.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>Activities:</label></div>
            <div class="col-md-7"><textarea name="activities" class="form-control" ng-disabled="disableBlock4" ng-model='$parent.activity4' placeholder="Activities"></textarea></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" class="form-control" ng-disabled="disableBlock4" ng-model='$parent.description4' placeholder="Description"></textarea></div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock4" ng-click="disableBlock4 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock4 = false"/></a>Remove 
    <p></p></div>




