<div>
    <div class="horizontal-line"></div>
    <h2 class="inner-head"><b ng-show="$parent.type==='Mentor'">*</b>Experience Details <b ng-show="$parent.type==='Mentor'">(Mandatory For You)</b></h2>  
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-5"><label>Add Experience:</label></div>
        <div class="col-md-7">
            <a href=""><img class="add right" src="images/add.png" ng-hide="$parent.type==='Mentor'" ng-click="$parent.showExpBlock = true;disableBlock = false;"/> </a>
        </div>
    </div>
</div>
<div ng-show="$parent.showExpBlock||$parent.type==='Mentor'">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock" ng-click="disableBlock = false">Edit</i><br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Company name:</label></div>
            <div class="col-md-7"><input type="text" name="companyName" ng-disabled="disableBlock" ng-model="$parent.companyName" class="form-control" placeholder="Company Name"></input></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-5"><label>*Job Title:</label> </div>
            <div class="col-md-7"><input type="text" name="jobTitle" ng-disabled="disableBlock" ng-model="$parent.jobTitle" class="form-control" placeholder="Job Title"></input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Location:</label></div>
            <div class="col-md-7"><input type="text" only-alpha placeholder="Job Location" class="form-control" ng-disabled="disableBlock" ng-model="$parent.jobLocation"></selectize></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Month:</label></div>
            <div class="col-md-7"><select name="startJobMonth" class="form-control" ng-disabled="disableBlock" ng-model="$parent.startMonth">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">        <div ng-class="{
                    'has-error'
                            : form.startYear.$touched && form.startYear.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="startYear" ng-disabled="disableBlock" ng-model="$parent.startYear" class="form-control" placeholder="Start Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startYear.$error" ng-if="form.startYear.$touched">
                        <p ng-message="required">Start Year is required.</p>
                        <p ng-message="minlength">Start Year is 4 digits.</p>
                        <p ng-message="maxlength">Start Year is 4 digits.</p>

                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5">
                <input type="checkbox" name="tc" ng-model="$parent.currentJob">Is This Your Current Job </label></div><div class="col-md-7"> </div>
        </div>
    </div>
    <div class="row"  ng-show="!$parent.currentJob">
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Month:</label></div>
            <div class="col-md-7"><select name="endJobMonth" class="form-control" ng-disabled="disableBlock" ng-model="$parent.endMonth">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5">
                <label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endYear.$touched && form.endYear.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="endYear" ng-disabled="disableBlock" start-date="{{$parent.startYear}}" compare-with-start-date ng-model="$parent.endYear" class="form-control" placeholder="End Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endYear.$error" ng-if="form.endYear.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <p ng-message="minlength">End Year is 4 digits.</p>
                        <p ng-message="maxlength">End Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                        <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" ng-disabled="disableBlock" ng-model="$parent.jobDescription" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock" ng-click="disableBlock = true">Save</i><br><br>
    <a href="" ng-hide="$parent.type==='Mentor'"><img class="add right"  src="images/remove.png" ng-click="$parent.showExpBlock = false"/>Remove</a> <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showExpBlock1 = true;disableBlock = true"/></a>Add
    <p></p>
</div>


<div ng-show="$parent.showExpBlock1">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock1" ng-click="disableBlock1 = false">Edit</i><br>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Company name:</label></div>
            <div class="col-md-7"><input type="text" name="companyName" ng-disabled="disableBlock1" ng-model="$parent.companyName1" class="form-control" placeholder="Company Name"></input>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Job Title:</label></div>
            <div class="col-md-7"> <input type="text" name="jobTitle" class="form-control" ng-disabled="disableBlock1" ng-model="$parent.jobTitle1" placeholder="Job Title"></input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Location:</label></div>
            <div class="col-md-7"> <input type="text" only-alpha placeholder="Job Location" class="form-control" ng-disabled="disableBlock1" ng-model="$parent.jobLocation1"></selectize> </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Month:</label></div>
            <div class="col-md-7">
                <select name="startJobMonth" class="form-control" ng-disabled="disableBlock1" ng-model="$parent.startMonth1">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startYear1.$touched &&  form.startYear1.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="startYear1" ng-disabled="disableBlock1" ng-model="$parent.startYear1" class="form-control" placeholder="Start Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startYear1.$error" ng-if="form.startYear1.$touched">
                        <p ng-message="required">Start Year is required.</p>
                        <p ng-message="minlength">Start Year is 4 digits.</p>
                        <p ng-message="maxlength">Start Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Month:</label></div>
            <div class="col-md-7">
                <select name="endJobMonth" class="form-control" ng-disabled="disableBlock1" ng-model="$parent.endMonth1">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5">
                <label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endYear1.$touched&& form.endYear1.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="endYear1" ng-disabled="disableBlock1" start-date="{{$parent.startYear1}}" compare-with-start-date ng-model="$parent.endYear1" class="form-control" placeholder="End Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endYear1.$error" ng-if="form.endYear1.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <p ng-message="minlength">End Year is 4 digits.</p>
                        <p ng-message="maxlength">End Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                        <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" ng-disabled="disableBlock1" ng-model="$parent.jobDescription1" class="form-control" placeholder="Description"></textarea></div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock1" ng-click="disableBlock1 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showExpBlock1 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showExpBlock2 = true;disableBlock1 = true"/></a>Add
    <p></p>
</div>	

<p></p>

<div ng-show="$parent.showExpBlock2">

    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock2" ng-click="disableBlock2 = false">Edit</i><br>		

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Company name:</label></div>
            <div class="col-md-7"><input type="text" name="companyName" ng-disabled="disableBlock2" ng-model="$parent.companyName2" class="form-control" placeholder="Company Name"></input>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Job Title:</label></div>
            <div class="col-md-7"><input type="text" name="jobTitle" ng-disabled="disableBlock2" ng-model="$parent.jobTitle2" class="form-control" placeholder="Job Title"></input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"> <label>*Location:</label></div>
            <div class="col-md-7"><input type="text" only-alpha placeholder="Job Location" class="form-control" ng-disabled="disableBlock2" ng-model="$parent.jobLocation2"></selectize>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Month:</label></div>
            <div class="col-md-7">
                <select name="startJobMonth" class="form-control" ng-disabled="disableBlock2" ng-model="$parent.startMonth2">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.startYear2.$touched &&  form.startYear2.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="startYear2" ng-disabled="disableBlock2" ng-model="$parent.startYear2" class="form-control" placeholder="Start Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startYear2.$error" ng-if="form.startYear2.$touched">
                        <p ng-message="required">Start Year is required.</p>
                        <p ng-message="minlength">Start Year is 4 digits.</p>
                        <p ng-message="maxlength">Start Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Month:</label></div>
            <div class="col-md-7">
                <select name="endJobMonth" class="form-control" ng-disabled="disableBlock2" ng-model="$parent.endMonth2">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5">
                <label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                        'has-error'
                                : form.endYear2.$touched&& form.endYear2.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="endYear2" ng-disabled="disableBlock2" start-date="{{$parent.startYear2}}" compare-with-start-date ng-model="$parent.endYear2" class="form-control" placeholder="End Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endYear2.$error" ng-if="form.endYear2.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <p ng-message="minlength">End Year is 4 digits.</p>
                        <p ng-message="maxlength">End Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                          <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" ng-disabled="disableBlock2" ng-model="$parent.jobDescription2" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock2" ng-click="disableBlock2 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showExpBlock2 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showExpBlock3 = true;disableBlock2 = true"/></a>Add
    <p></p>
</div>
<p></p>

<div ng-show="$parent.showExpBlock3">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock3" ng-click="disableBlock3 = false">Edit</i><br>


    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Company name:</label></div>
            <div class="col-md-7"><input type="text"  name="companyName"  ng-disabled="disableBlock3" ng-model="$parent.companyName3" class="form-control" placeholder="Company Name"></input>
            </div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Job Title:</label></div>
            <div class="col-md-7"> <input type="text"  name="jobTitle" ng-disabled="disableBlock3" ng-model="$parent.jobTitle3" class="form-control" placeholder="Job Title"></input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Location:</label></div>
            <div class="col-md-7"><input type="text" only-alpha placeholder="Job Location" class="form-control" ng-disabled="disableBlock3" ng-model="$parent.jobLocation3"></selectize></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Month:</label></div>
            <div class="col-md-7">
                <select name="startJobMonth" class="form-control" ng-disabled="disableBlock3" ng-model="$parent.startMonth3">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                'has-error'
                        : form.startYear3.$touched && form.startYear3.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="startYear3" ng-disabled="disableBlock3" ng-model="$parent.startYear3" class="form-control" placeholder="Start Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startYear3.$error" ng-if="form.startYear3.$touched">
                        <p ng-message="required">Start Year is required.</p>
                        <p ng-message="minlength">Start Year is 4 digits.</p>
                        <p ng-message="maxlength">Start Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div>	
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Month:</label></div>
            <div class="col-md-7">
                <select name="endJobMonth" class="form-control" ng-disabled="disableBlock3" ng-model="$parent.endMonth3">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5">
                <label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                'has-error'
                        : form.endYear3.$touched && form.endYear3.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="endYear3" ng-disabled="disableBlock3" start-date="{{$parent.startYear3}}" compare-with-start-date ng-model="$parent.endYear3" class="form-control" placeholder="End Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endYear3.$error" ng-if="form.endYear3.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <p ng-message="minlength">End Year is 4 digits.</p>
                        <p ng-message="maxlength">End Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                          <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>
            </div> </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" ng-disabled="disableBlock3" ng-model="$parent.jobDescription3" class="form-control" placeholder="Description"></textarea></div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock3" ng-click="disableBlock3 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showExpBlock3 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showExpBlock4 = true;disableBlock3 = true"/></a>Add
    <p></p>
</div>
<p></p>

<div ng-show="$parent.showExpBlock4">
    <i name="Edit" class="btn btn-danger fa fa-edit fa-lg" ng-show="disableBlock4" ng-click="disableBlock4 = false">Edit</i><br>	


    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Company name:</label></div>
            <div class="col-md-7"><input type="text"  name="companyName" ng-disabled="disableBlock4" ng-model="$parent.companyName4" class="form-control" placeholder="Company Name"></input></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Job Title:</label> </div>
            <div class="col-md-7"><input type="text"  name="jobTitle" ng-disabled="disableBlock4" ng-model="$parent.jobTitle4" class="form-control" placeholder="Job Title"></input></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Location:</label>	</div>
            <div class="col-md-7"><input type="text" only-alpha placeholder="Job Location" class="form-control" ng-disabled="disableBlock4" ng-model="$parent.jobLocation4"></selectize></div>
        </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Month:</label></div>
            <div class="col-md-7">
                <select name="startJobMonth" class="form-control" ng-disabled="disableBlock4" ng-model="$parent.startMonth4">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5"><label>*Start Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                'has-error'
                        : form.startYear4.$touched && form.startYear4.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="startYear4" ng-disabled="disableBlock4" ng-model="$parent.startYear4" class="form-control" placeholder="Start Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.startYear4.$error" ng-if="form.startYear4.$touched">
                        <p ng-message="required">Start Year is required.</p>
                        <p ng-message="minlength">Start Year is 4 digits.</p>
                        <p ng-message="maxlength">Start Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                    </div>
                </div>
            </div> </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>*End Month:</label></div>
            <div class="col-md-7">
                <select name="endJobMonth" class="form-control" ng-disabled="disableBlock4" ng-model="$parent.endMonth4">
                    <option value="" disabled>-- Choose Month --</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>  </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-5">
                <label>*End Year:</label></div>
            <div class="col-md-7">
                <div ng-class="{
                'has-error'
                        : form.endYear4.$touched && form.endYear4.$invalid}">
                    <input type="text" only-num maxlength="4" minlength="4" name="endYear4" ng-disabled="disableBlock4" start-date="{{$parent.startYear4}}" compare-with-start-date ng-model="$parent.endYear4" class="form-control" placeholder="End Year of Job" pattern="\d{4}"></input>
                    <div class="help-block" ng-messages="form.endYear4.$error" ng-if="form.endYear4.$touched">
                        <p ng-message="required">End Year is required.</p>
                        <p ng-message="minlength">End Year is 4 digits.</p>
                        <p ng-message="maxlength">End Year is 4 digits.</p>
                        <P ng-message="pattern">Enter Valid Year in format YYYY</p>
                          <span class="form-error" ng-message="checkEndYear">End Year cannot be earlier to Start Year</span>
                    </div>
                </div>
            </div> </div>	
        <div class="col-md-6">
            <div class="col-md-5"><label>Description:</label></div>
            <div class="col-md-7"><textarea name="description" ng-disabled="disableBlock4" ng-model="$parent.jobDescription4" class="form-control" placeholder="Description"></textarea></div>
        </div>
    </div>
    <br> <i  class=" fa fa-save fa-lg btn btn-info" ng-show="!disableBlock4" ng-click="disableBlock4 = true">Save</i><br><br>
    <a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showExpBlock4 = false"/></a>Remove
    <p></p>
</div>	