<div class="clear"></div>
<div></div>
<div class="devider clear"></div>
<div class=" footer-links">
    <img class="footer-logo" style=" -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.32));
         filter:         drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.32));" src="images/midasblue-logo.png" alt="" class="footer-logo">

    <h6>© 2016 - 2017 Midas Blue

    </h6>

</div>
<table class="table"><tr><td><a  href="#/contact-us">Contact us</a> for more details</td><td style="text-align: right;"> <a  href="#/refer">Recommend Us</a> To Your Friends</td></tr></table>