<!-- template to display organisation search result for each candidate-->
<div class="section">
    <div class="profile-section signup-card " ng-controller="forgetpassController" style="padding: 10px 10px 10px 10px;">
        <form name="form" >
           
            <input type="email" name="username" class="form-control" ng-model="email" style=" width: auto;margin: 0 auto; "  title="example:abc@abc.com" placeholder="Enter your E-mail ID"  ng-model="user.username" ng-model-options="{updateOn: 'blur'}" required=""  />

            <div class="msg-error center" ng-messages="form.username.$error" ng-if="form.username.$touched">
                <p ng-message="required">Email Id is required.</p>
                <p ng-message="email">Invalid Email Id.</p>
                <p ng-message="pattern">Please enter an Email Id in format of characters@characters.domain.</p>
            </div>
            <br>
            <br>
            <div class="center">
                <button type="submit" class="btn btn-bitbucket" ng-disabled="form.$invalid" ng-click="forgetpassword()">Reset Password</button>
            </div>
        </form>
        <div class="loading-spiner-holder" data-loading ></div>
    </div>
    <ng-include src="'templates/footer.html'"></ng-include>
</div>