<div class="section reg-form" ng-controller="SignupController" ng-init="init('Student')">

	<!--<h1>Student Registration</h1>-->
	<h2 class="inner-head">Create Login Details</h2>
	
	<form name="form" ng-submit="submitSignupForm(form.$valid)" role="form" novalidate>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>*Username (Email Id):</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.username.$touched && form.username.$invalid}">
				<input type="email" name="username" title="example:abc@abc.com" class="form-control" placeholder="Enter your E-mail ID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="user.username" ng-model-options="{ updateOn: 'blur' }" required="" unique-username />
					
				<div class="help-block" ng-messages="form.username.$error" ng-if="form.username.$touched">
					<p ng-message="required">Email Id is required.</p>
					<p ng-message="email">Invalid Email Id.</p>
					<p ng-message="pattern">Please enter an Email Id in format of characters@characters.domain.</p>
				</div>
			</div>
		</div>
	</div>
	
	<modal visible="showalertModal" style="display: none;">
		<div class="modal-content" ng-controller="LoginController">
			<div class="alert-modal">
				<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
				<h4 class="modal-title ">Username already exists as a Student.</h4>
				<p><a data-dismiss="modal">Enter different Email Id</a> </p>
				<h6> OR </h6> 
				<p>Are you already registered User? <a ng-model="loginFields" ng-click="loginFields = true;"> Login</a></p>
			</div>
			
			<div class="modal-body" ng-show="loginFields">
				<p><span class="error-message">{{errorMessage}}</span></p>
                       
				<p><input type="text" class="form-control" placeholder="username" ng-model="user.username"></p>
				<p>
					<input type="{{inputType}}" class="form-control" placeholder="password" ng-model="user.password" ng-hide="showpassword">
				</p>
				<p class="right">
					<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
					<label for="checkbox">Show password</label>
				</p>
											
				<div class="modal-footer">
					<p class="signin-stuff">
						<a class="readmore" href="#" ng-click="loginUser();">Sign In</a>
						Fortgot your <a href="">username</a> or <a href="">password?</a>
					</p>
                <p class="login-contact"><a href="">Contact us</a> for more details</p>
                       
				</div>
			</div>
		</div>
	</modal>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label for="pw1">*Password:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.pw1.$touched && form.pw1.$invalid}">
			<!--<input type="password" id="pw1" name="pw1" ng-model="pw1" ng-minlength="8" ng-pattern="" class="form-control"  required="">-->
			<input type="password" id="pw1" name="pw1" title="Enter alpha-numeric password" placeholder="Enter Password" ng-model="pw1" ng-minlength="8" pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control"  required="">
	
			<!--ng-pattern to set uppercase lowercase special character in password-->
				 <div class="help-block" ng-messages="form.pw1.$error" ng-if="form.pw1.$touched">
				<p ng-message="minlength">Password must contain 8 characters.</p>
				<p ng-message="required">Password is required.</p>
				<P ng-message="pattern">Password must contain atleast one number, one uppercase letter and one lowercase letter.</p>
				</div>	
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="col-md-5"><label for="pw2">*Confirm Password:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.pw2.$touched && form.pw2.$invalid}">
			<input type="password" id="pw2" name="pw2" title="Confirm Password" placeholder="Re-type Password" ng-model="pw2" class="form-control" ng-required="" pw-check="pw1"></div>
			  <div class="help-block" ng-messages="form.pw2.$error" ng-if="form.pw2.$touched ">
				<p ng-message="minlength">Password must contain 8 characters.</p>
				<p ng-message="required">Please confirm your Password.</p>
				<p class="msg-error" ng-show="form.pw2.$error.pwmatch">Passwords didn't match.</p>
			</div>
		</div>
	
	</div>
	<div class="horizontal-line"></div>
	
	<h2 class="inner-head">Contact Information</h2>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>*Name:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid}">
			<input type="text" class="form-control" placeholder="First Name" title="Use only Alphabets" ng-minlength="1" ng-maxlength="20" pattern="[a-zA-Z]*" ng-model="user.Fname" name="name"  required="" >
				<div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
				<p ng-message="required">Your First name is required.</p>
				<p ng-message="pattern">Enter only capital and small alphabets.</p>
				<p ng-message="minlength">Your First name must contain 1 characters.</p>
				<p ng-message="maxlength">More than 20 characters are not allowed</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="col-md-7" ng-class="{ 'has-error': form.uLName.$touched && form.uLName.$invalid}">
			<input type="text" class="form-control" placeholder="Last Name" title="Enter Last Name" ng-minlength="1" ng-maxlength="20" pattern="[a-zA-z]+([ '-][a-zA-Z]+)*" 
			ng-model="user.Lname" name="uLName">
				<div class="help-block" ng-messages="form.uLName.$error" ng-if="form.uLName.$touched">
				<p ng-message="pattern">Invalid Last name.</p>
				<p ng-message="minlength">Your Last name must contain 1 characters.</p>
				<p ng-message="maxlength">More than 20 characters are not allowed.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>*Gender:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.optradio1.$touched && form.optradio1.$invalid}">
			<label><input type="radio" name="optradio1" value="male" title="select Gender" ng-model="user.gender" required=""> Male</label> &nbsp;&nbsp; 
			<label><input type="radio" name="optradio1" value="female" title="select Gender"  ng-model="user.gender" required=""> Female</label>
				<div class="help-block" ng-messages="form.optradio1.$error" ng-if="form.optradio1.$touched">
				<p ng-message="required">Your Gender is required.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>Skype Id:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.skypeId.$error && form.skypeId.$touched}">
			<input type="text" class="form-control" placeholder="Enter Skype Username" title="Enter SkypeId" ng-model="user.skypeid" name="skypeId"><!--pattern for skype id is taken as per validation given by skype (It may change if skype change its rule/pattern)-->
			</div>
		</div>
	</div>
	
	<ng-include src="'templates/addressDetails.html'"></ng-include>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>*Contact Number 1:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.num_1.$touched && form.num_1.$invalid }">
			<input type="text" class="form-control" name="num_1" title="Enter Contact Number" pattern="(?:\s+|)((0|(?:(\+|)91))(?:\s|-)*(?:(?:\d(?:\s|-)*\d{9})|(?:\d{2}(?:\s|-)*\d{8})|(?:\d{3}(?:\s|-)*\d{7}))|\d{10})(?:\s+|)" ng-model="user.contactnumber1"  required=""  autocomplete="off">
				<div class="help-block" ng-messages="form.num_1.$error" ng-if="form.num_1.$touched">
					<p ng-message="required">Please enter your Contact Number.</p>
					<p ng-message="pattern">Please enter valid Contact Number.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-5"><label>Contact Number 2:</label></div>
			<div class="col-md-7" ng-class="{ 'has-error': form.num_2.$error && form.num_2.$invalid} ">
			<input type="text" class="form-control" name="num_2" title="Enter Contact Number"  pattern="(?:\s+|)((0|(?:(\+|)91))(?:\s|-)*(?:(?:\d(?:\s|-)*\d{9})|(?:\d{2}(?:\s|-)*\d{8})|(?:\d{3}(?:\s|-)*\d{7}))|\d{10})(?:\s+|)" ng-model="user.contactnumber2">
				<div class="help-block" ng-messages="form.num_2.$error">
					<p ng-message="pattern">Please enter valid Contact Number.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="horizontal-line"></div>
	
	<h2 class="inner-head">Employment Details</h2>
	
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label for="domain">*Select Domain:</label></div>
			<div class="col-md-7">
			<label ng-hide="domainType == 'Non-IT'"><input type="radio" name="optradio2" value="IT" ng-model="domainType"> IT</label> &nbsp;&nbsp; 
			<label ng-hide="domainType == 'IT'"><input type="radio" name="optradio2" value="Non-IT" ng-model="domainType"> Non-IT</label> 
			</div>
		</div>
	</div>
	
	<div ng-show = "showIT('IT')">
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<selectize config='itDomainsConfig' options='itDomainOptions' ng-model="itDomain"></selectize>
				<p class="msg-error">{{domainMessage}}</p>
				
			</div>
		</div>
	</div>
	</div>

	<div ng-show = "showNonIT('Non-IT')">
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<selectize config='nonItDomainsConfig' options='nonItDomainOptions' ng-model="nonItDomain"></selectize>
				<p class="msg-error">{{domainMessage}}</p>
			</div>
		</div>
	</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>Project Summary:</label></div>
			<div class="col-md-7"><input type="textarea" class="form-control" title="Enter Project Summary" name="projSummary" ng-model="user.projSummary">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>*Key Skills:</label></div>
			<div class="col-md-7">
				<selectize config='skillConfig' options='skillOptions' ng-model="keySkills"></selectize>
				<p class="msg-error">{{skillMessage}}</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5">*Function Interest:</div>
			<div class="col-md-7">
				<selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="functionInterest"></selectize>
				<p class="msg-error">{{functionInterestMessage}}</p>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5">*Prefered Location:</div>
			<div class="col-md-7">
				<selectize config='locationConfig' options='locationOptions' ng-model="prefLocation"></selectize>
				<p class="msg-error">{{prefLocationsMessage}}</p>	
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>*Interests:</label></div>
			<div class="col-md-7">
			  <ul id="interestList">
				<li ng-repeat="item in interest">
				<input type="checkbox" id="{{item.name}}" value="{{item.name}}" ng-checked="selection.indexOf(item.name) > -1" ng-click="toggleSelection(item.name)" />
				<label for="{{item.name}}"> {{item.name}}</label>
				</li>
			  </ul>
			  <p class="msg-error">{{interestMessage}}</p>
			</div>
		</div>
	</div>
	
	<ng-include src="'templates/eduDetails.html'"></ng-include>
	<ng-include src="'templates/expDetails.html'"></ng-include>
	
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-5"><label>Paper Publication:</label></div>
			<div class="col-md-7"><input type="text" name="Publication" class="form-control" title="Enter Name of your published paper" placeholder="Enter Name of your published paper" ng-model="user.publication"></div>
		</div>
	</div>
	
	<div class="horizontal-line"></div>
	
	<div class="row">
		<p class="center" ng-class="{ 'has-error': form.tc.$touched && form.tc.$invalid }">
			<label><input type="checkbox" name="tc" ng-model="user.tc" required=""> I agree to <a href=""><u>Terms & Conditions</u></a></label>
				<p class="msg-error">{{tcMessage}}</p>
		</p>
	</div>
	
	 <div class="row">
		<p class="msg-error center" ng-repeat = "error in errors">{{error}}</p>
		<p class="center">
		<input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="addDetails();"title="Please review all the fields marked with * are mandatory." value="Register as a student"></input>
		</p>
		
	</div>
	<div class="row" align="center">
	<span class="msg-error"> <b>Fields marked with * are mandatory. Please review all the fields if "Register as a student" button is disabled. </b></span>
	</div>
</form>
	<div class="clear"></div>
	
	<div class="devider clear"></div>
	<div class="footer-links">
	<img src="images/midasblue-logo.png" alt="" class="footer-logo">
		<ul>
			<li><a href="#.">Home</a></li>
			<li><a href="#.">About Us </a></li>
			<li><a href="#.">Portfolio</a></li>
			<li><a href="#.">Services</a></li>
			<li><a href="#.">Contact Us</a></li>
		</ul>
	</div>
        
<div class="loading-spiner-holder" data-loading ></div>
</div>
