
<div class="section" ng-init="showJob = true">
	<div class="left-section left-section-inner">
	
		
   <ul class="nav-tabs nav-justified">
    <li><a href="" ng-click="showJob=true;showInternship=false;showResearch=False;showMentorship=false;">Invite Mentor</a></li>
    <li><a href="" ng-click="showInternship=true;showResearch=False;showMentorship=false;showJob=false">Event Invitation</a></li>
    <li><a href="" ng-click="showResearch=true;showInternship=false;showMentorship=false;showJob=false">Guest Speaker</a></li>
    <li><a href="" ng-click="showMentorship=true;showInternship=false;showJob=false;showResearch=false">Students List</a></li>
  </ul>
 
<p></p>

<!--<script type="text/javascript">
    $(window).load(function(){
        $('#openModal').modal('show');
    });
</script>-->

<!--<a href="#openModal">Open Modal</a>-->  

<!--<div id="openModal" class="newModalDialog">
    <div>	<a href="#close" title="Close" class="newClose">X</a>

        	<h2>Modal Box</h2>

        <p>Please select the opportunity type above to proceed.</p>
    
    </div>
</div>    -->  


<div ng-show="showJob">
<div ng-include src="'templates/mentor-for-inst.html'"></div>
</div>
<div ng-show="showInternship">
<div ng-include src="'templates/event-for-inst.html'"></div>
</div>
<div ng-show="showResearch">
<div ng-include src="'templates/speaker-for-inst.html'"></div>
</div>
<div ng-show="showMentorship">
<div ng-include src="'templates/student-availability.html'"></div>
</div>
		
	
	</div>
	
	 <ng-include src="'templates/right-menu.html'"></ng-include>	
	
	<ng-include src="'templates/footer.html'"></ng-include>
</div>

