
<div class="section" ng-controller="InstPostController">
    <div class="loading-spiner-holder" data-loading ></div>
    <form name="form" role="form"> <!--ng-submit="postOpportunity(form.$valid)"-->
        <div class="left-section left-section-inner">

            <div ng-controller="InstPostController">
                <div class="search-form">
                    <div>
                        <h4 class="inner-head">Look for Mentor</h4>
                    </div>




                    <label>*Summary:</label>
                    <div ng-class="{ 'has-error': form.positionName.$touched && form.positionName.$invalid}">
                        <textarea class= "form-control" name="jobDescription" rows="5" cols="2" ng-model="opp.mentorTypeFields.mentorSummary" placeholder="Enter Summary" required=""></textarea>
                        <div class="help-block" ng-messages="form.positionName.$error" ng-if="form.positionName.$touched">
                            <p ng-message="required">This field is required!</p>
                        </div>
                    </div>

                    <p></p>

                    <label>*Opportunity Description:</label>
                    <div ng-class="{ 'has-error': form.positionName.$touched && form.positionName.$invalid}">
                        <textarea class= "form-control" name="jobDescription" rows="5" cols="2" ng-model="opp.mentorTypeFields.mentorOpportunityDescription" placeholder="Enter Summary" required=""></textarea>
                        <div class="help-block" ng-messages="form.positionName.$error" ng-if="form.positionName.$touched">
                            <p ng-message="required">This field is required!</p>
                        </div>
                    </div>
                    <p></p>

                    <div class="form-inline">
                        <label>*Keyskills:</label> <selectize config='skillConfig' options='skillOptions' ng-model="keySkills"></selectize>
                        <!--<p class="msg-error">{{skillMessage}}</p>-->
                    </div><p></p>


                    <label>Domain Interest:</label>

                    <selectize config='itDomainsConfig' options='itDomainOptions' ng-model="itDomain"></selectize>
                    <selectize config='nonItDomainsConfig' options='nonItDomainOptions' ng-model="nonItDomain"></selectize>
                    <!--<dropdown-multiselect class="btn-alignment"  placeholder="IT Domains" model="selectedItDomains " options="itDomains"></dropdown-multiselect>
                    <dropdown-multiselect class="btn-alignment"  placeholder="Non-IT Domains" model="selectedNonItDomains " options="nonItDomains"></dropdown-multiselect>-->
                    <p></p>


                    <label>Functional Interest:</label>
                    <!--<dropdown-multiselect class="btn-alignment" name="functionInterest" model="selectedfunctionInterests" placeholder="Select IT Functions" options="functionInterests"></dropdown-multiselect>-->
                    <selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="functionalInterest"></selectize>
                    <p></p>
                    <div class="field-separator"></div>

                    <p></p>
                    <div>
                        <h4 class="inner-head">Eligibility Criteria</h4>

                        <b>*Add Qualification</b> <a href=""><img class="add right" src="images/add.png" ng-click="showBlock = true"/> </a>
                        <div ng-show="showBlock">

                            <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major'></selectize>
                            <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course'></selectize>
                            <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream'></selectize>
                            <input type="number" name="yop" class="form-control" placeholder="Enter Year of Passing" ng-model="opp.mentorTypeFields.mentorEduDetails[0].yop">
                            <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[0].gradeMin" placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[0].gradeMax" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock1 = true"/></a>Add
                            <p></p>


                            <div ng-show="showBlock1">
                                <selectize name="major" config='majorConfig1' options='majorOptions1' ng-model='$parent.major1'></selectize>
                                <selectize name="course" config='courseConfig1' options='courseOptions1' ng-model='$parent.course1'></selectize>
                                <selectize name="stream" config='streamConfig1' options='streamOptions1' ng-model='$parent.stream1'></selectize>
                                <selectize name="yop" config='yopConfig1' options='yopOptions1' ng-model='$parent.yop1'></selectize>
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[1].gradeMin1" placeholder="Min.CGPA / Percentage" name="minGrade">
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[1].gradeMax1" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock1 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock2 = true"/></a>Add
                            </div><p></p>

                            <div ng-show="showBlock2">
                                <selectize name="major" config='majorConfig2' options='majorOptions2' ng-model='$parent.major2'></selectize>
                                <selectize name="course" config='courseConfig2' options='courseOptions2' ng-model='$parent.course2'></selectize>
                                <selectize name="stream" config='streamConfig2' options='streamOptions2' ng-model='$parent.stream2'></selectize>
                                <selectize name="yop" config='yopConfig2' options='yopOptions2' ng-model='$parent.yop2'></selectize>
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[2].gradeMin2" placeholder="Min.CGPA / Percentage" name="minGrade">
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[2].gradeMax2" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock2 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock3 = true"/></a>Add
                            </div><p></p>

                            <div ng-show="showBlock3">
                                <selectize name="major" config='majorConfig3' options='majorOptions3' ng-model='$parent.major3'></selectize>
                                <selectize name="course" config='courseConfig3' options='courseOptions3' ng-model='$parent.course3'></selectize>
                                <selectize name="stream" config='streamConfig3' options='streamOptions3' ng-model='$parent.stream3'></selectize>
                                <selectize name="yop" config='yopConfig3' options='yopOptions3' ng-model='$parent.yop3'></selectize>
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[3].gradeMin3" placeholder="Min.CGPA / Percentage" name="minGrade">
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[3].gradeMax3" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock3 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock4 = true"/></a>Add
                            </div><p></p>

                            <div ng-show="showBlock4">
                                <selectize name="major" config='majorConfig4' options='majorOptions4' ng-model='$parent.major4'></selectize>
                                <selectize name="course" config='courseConfig4' options='courseOptions4' ng-model='$parent.course4'></selectize>
                                <selectize name="stream" config='streamConfig4' options='streamOptions4' ng-model='$parent.stream4'></selectize>
                                <selectize name="yop" config='yopConfig4' options='yopOptions4' ng-model='$parent.yop4'></selectize>
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[4].gradeMin4" placeholder="Min.CGPA / Percentage" name="minGrade">
                                <input type="text" class="form-control" ng-model="opp.mentorTypeFields.mentorEduDetails[4].gradeMax4" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock4 = false"/></a>Remove
                            </div><p></p>

                        </div><p></p>
                        <!--<div class="field-separator"></div><p><p>-->
                        <div class="form-inline">



                            <label>Min. Experience:</label>&nbsp;<select class="form-inline form-control" style="width:100px;" name="minExp" ng-model="opp.mentorTypeFields.mentorMinExp">
                                <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                                <option value="0 year">0 year</option><option value="1 year">1 year</option><option value="2 years">2 years</option>
                                <option value="3 years">3 years</option><option value="4 years">4 years</option><option value="5 years">5 years</option>
                                <option value="6 years">6 years</option><option value="7 years">7 years</option><option value="8 years">8 years</option>
                                <option value="9 years">9 years</option><option value="10 years">10 years</option><option value="10+ years">10+ years</option>
                            </select>

                            <label>Max. Experience:</label>&nbsp;<select class="form-inline form-control" style="width:100px;" name="maxExp" ng-model="opp.mentorTypeFields.mentorMaxExp">
                                <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                                <option value="0 year">0 year</option><option value="1 year">1 year</option><option value="2 years">2 years</option>
                                <option value="3 years">3 years</option><option value="4 years">4 years</option><option value="5 years">5 years</option>
                                <option value="6 years">6 years</option><option value="7 years">7 years</option><option value="8 years">8 years</option>
                                <option value="9 years">9 years</option><option value="10 years">10 years</option><option value="10+ years">10+ years</option>
                            </select>


                        </div><p></p>
                        <div class="field-separator"></div><p><p>


                    </div>

                    <input type="hidden" name="country" ng-model="opp.type" ng-init="opp.type = 'Mentorship'" value="Mentorship">

                    <div class="form-footer">
                        <input type="submit" class="btn btn-primary"  value="Post Opportunity" ng-click="addDetails(); editMentorOpportunity()"><!-- ng-disabled="form.$invalid" -->
                        <!--<i class="fa fa-upload"></i>-->
                        </input>
                    </div>	<p></p>	
                </div>	
                </form>
            </div>
        </div>
        <ng-include src="'templates/right-menu.html'"></ng-include>	
        <ng-include src="'templates/footer.html'"></ng-include>
</div>

