
<div class="section" ng-controller="StudPostController">
    <div class="loading-spiner-holder" data-loading ></div>
    <form name="form" role="form"> <!--ng-submit="postOpportunity(form.$valid)"-->
        <div class="left-section left-section-inner">

            <div>
                <h4 class="inner-head">Look for Mentor</h4>
            </div>

            <div class="search-form">
                <form name="form">
                    <div align="right">
                    <button type="reset" value="Reset" ng-click="clearAll();">Clear All</button></div><p></p>
                
                    <div ng-include="'templates/Part2.html'"></div>
                    <input type="hidden" name="country" ng-model='$parent.type' ng-init="$parent.type = 'Mentorship'" value="Mentorship">

                    <div class="form-footer">
                        <input type="submit" class="btn btn-primary"  value="Post Opportunity" ng-disabled="form.$invalid" ng-click="addEduDetails(); copyMentorForStudOpportunity();postStudOpportunity()"><!-- ng-disabled="form.$invalid" -->
                        <!--<i class="fa fa-upload"></i>-->
                        </input>
                    </div>	<p></p>	
                </form>
            </div>
        </div>
    </form>
    <ng-include src="'templates/right-menu.html'"></ng-include>	

    <ng-include src="'templates/footer.html'"></ng-include>

</div>
