<div class="dropdown" ng-controller="DashboardController" ng-init="getNotifications();">
    <a id="dLabel" role="button"  ng-class="{
                    'fab-unread'
                            : unread!==0}" ng-click="readNotifications();" class="btn fab" data-toggle="dropdown" data-target="#" href="/page.html">
        <i class="glyphicon glyphicon-bell"><span ng-show="unread!==0">{{unread}}</span></i>
    </a>

    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

        <div class="notification-heading"><h4 class="menu-title">Notifications</h4>
        </div>
        <li class="divider"></li>
        <div class="notifications-wrapper">
            <div class="content" ng-repeat="a in notification">

                <div class="notification-item" ng-class="{
                    'notification-item-unread'
                            : a.view==='no'}">
                    <table class="table"><tr><td> <h5>{{a.alert}}</h5></td><td class="item-title right">
                                {{getDateFormat(a.creationDate) | date:'dd MMM '}}</td></tr></table>
                    <div><button ng-class="b.class" style="margin-right: 5px;" ng-click="respond(b.action, a);" ng-repeat="b in a.actions">{{b.action}}</button></div>
                </div>


            </div>
            <div class="notification-item"  ng-show="notification.length === 0">
                <h5 class="item-info"><img src="./images/relax.png" width="50px" height="50px" alt="Done"/> You Are Done For The Day</h5>
            </div>

        </div>
     
    </ul>

</div>