
<div  ng-controller="MatchingOpportunitiesDetailsController">
    <div class="loading-spiner-holder" data-loading ></div>
    <div class="section">
        <div class="left-section left-section-inner">
            <form class="form-inline" name="form">
                <div id="content" align="right">
                    <button type="button" class=" btn btn-default btn-sm" ng-click="clicked()">Back</button> &nbsp;
                   
                </div><br>




                <ul  class="pagination pagination-ul">
                    <li>
                        <div class="search-block">
                            <div class="block-header"> 

                                <div class="cand-name">

                                    <table class="table">
                                        <tr><td><label class="name">

                                                 

                                                    <span class="glyphicon glyphicon-user"  ng-show="searches.firstName" style="color:#7a7e87" aria-hidden="true"></span>
                                                    <span class="glyphicon glyphicon-education" ng-show="searches.name" style="color:#7a7e87" aria-hidden="true"></span>
                                                    <span class="glyphicon glyphicon-check" ng-show="searches.summary" style="color:#7a7e87" aria-hidden="true"></span>
                                                    <span class="sr-only">icon for candidate</span>
                                                </label>
                                                {{searches.firstName + ' ' + searches.lastName}}{{searches.name}}{{searches.summary}}</td>
                                            <td><span class="fa fa-map-marker" style="color:#7a7e87" ng-show="searches.addressDetails.city"></span>
                                                <span class="fa fa-money" style="color:#7a7e87" ng-show="searches.budget || searches.paidOrFree"></span>

                                                <label ng-show="searches.budget">{{searches.budget + ' pm'}}  <span class="fa fa-inr" style="color:#7a7e87" ng-show="searches.currency === 'INR'"></span> <span class="fa fa-usd" style="color:#7a7e87" ng-show="searches.currency === 'USD'"></span></label>
                                                <label ng-show="searches.addressDetails.city || searches.paidOrFree">{{searches.addressDetails.city}}{{searches.paidOrFree}}</label>
                                            </td> 
                                        </tr>
                                        <tr ng-show="searches.contactPerson"><td> <span class="glyphicon glyphicon-user" style="color:#7a7e87" aria-hidden="true"></span>Contact Person</td><td>{{searches.contactPerson}}</td></tr>
                                        <tr><td><span class="fa fa-envelope" ng-show="searches.emailId" style="color:#7a7e87"></span>

                                                <label  ng-show="searches.emailId"><a ng-href="mailto:{{searches.emailId}}" target="_top">{{searches.emailId}}
                                                    </a> </label>
                                                <span class="fa fa-user" ng-show="searches.ownerFields.name" style="color:#7a7e87"></span>

                                                <label  ng-show="searches.ownerFields.name"><label>{{searches.ownerFields.name}}
                                                    </label> </label>
                                            </td>

                                            <td>
                                                <span class="phno glyphicon glyphicon-earphone" ng-show="searches.contactNumber1 || searches.contactNumber || searches.phone" style="color:#7a7e87" aria-hidden="true"></span>
                                                <span class="phno fa fa-eye" ng-show="searches.noOfPositions || searches.maxExp" ng-hide="searches.type == 'guest' || searches.type == 'event'" style="color:#7a7e87" aria-hidden="true"></span>
                                                <span class="phno fa fa-calendar" ng-show="searches.date" style="color:#7a7e87" aria-hidden="true"></span>
                                                <label ng-show="searches.maxExp" ng-hide="searches.type == 'guest' || searches.type == 'event'">{{(searches.minExp) + ' to ' + (searches.maxExp) + ' year(s)'}}</label>
                                                <label>
                                                    {{searches.phone}} {{searches.contactNumber}}{{searches.noOfPositions}}{{searches.date}}</label><label ng-show="searches.noOfPositions">Position(s)</label>
                                            </td> 
                                        </tr>

                                    </table>
                                   
                                <label class="cand-ug-year-pass" ng-show="searches.yearsOfExperience"><strong> Years Of Experience: </strong>
                                    {{searches.yearsOfExperience + '+ year(s)'}}</label>
                                <br ng-show="searches.yearsOfExperience">
                                <label class="cand-ug-year-pass" ng-show="searches.airMain || searches.airAdv"><strong>AIR(GEN.):</strong>
                                    {{searches.airMain|| searches.airAdv}}<br>	</label>

                                <!------------------------- Mentorship Details ----------------------->
                                <div class="cand-inst-name" ng-show="searches.type == 'mentee' || searches.type == 'mentorship'">
                                    <label class="cand-inst-name" ><i class="fa fa-comment" style="color:#7a7e87"></i><strong> Description:</strong></label>
                                    {{searches.opportunityDescription}}
                                    <br>


                                    <strong ng-show="searches.type == 'mentorship'">Desired Mentor Profile</strong><br  ng-show="searches.type == 'mentorship'"><br  ng-show="searches.type == 'mentorship'">
                                    <strong ng-show="searches.type == 'mentee'">Desired Mentee Profile</strong><br ng-show="searches.type == 'mentee'"><br ng-show="searches.type == 'mentee'">
                                    <label ng-show="searches.instituteType"><i class="fa fa-chain" style="color:#7a7e87"></i><strong> Mentee Institutes:</strong> </label>
                                    <label ng-repeat="inst in searches.instituteType" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{inst}}</label>
                                    <br ng-show="searches.instituteType">
                                    <label ng-show="searches.keySkills"><i class="fa fa-bars" style="color:#7a7e87"></i> <strong>Key Skills:</strong></label>
                                    <label ng-repeat="skl in searches.keySkills" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ skl}}</label>
                                    <br ng-show="searches.keySkills">
                                    <label ng-show="searches.domainInterest"><i class="fa fa-check" style="color:#7a7e87"></i><strong> Domain Interest(s):</strong></label>
                                    <label ng-repeat="it in searches.domainInterest" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ it}}</label>
                                    <br ng-show="searches.domainInterest">

                                    <label ng-show="searches.functionInterest"><i class="fa fa-check-square-o" style="color:#7a7e87"></i><strong>Functional Domain:</strong>
                                        <label ng-repeat="fd in searches.functionInterest" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ fd}}</label></label>


                                    <div class="education cand-inst-name" ng-repeat="education in (searches.eduDetails)">





                                        <br><label><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i> <strong> Qualification:</strong></label>

                                        <label ng-repeat="qua in education.qualification" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ qua}}</label>
                                        <br>
                                        <label><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i><strong> Major(s):</strong> </label>

                                        <label ng-repeat="maj in education.major" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ maj}}</label>

                                        <br>
                                        <label><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i><strong> Course(s):</strong></label>

                                        <label ng-repeat="str in education.streams" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ str}}</label>

                                        <br>
                                        <label ng-show="education.yop" style="width: 50%"><i class="fa fa-calendar" style="color:#7a7e87"></i><strong> Year Of Passing:</strong>
                                            {{education.yop + ' and above'}}</label>


                                        <label ng-show="education.cgpaMin || education.percentageMin"><i class="fa fa-pencil" style="color:#7a7e87"></i><strong>Min CGPA/Percentage:</strong>
                                            {{education.cgpaMin + '/' + education.percentageMin}}</label> <br>

                                    </div>

                                    <br>


                                </div>


                                <!------------------------ job internship details ----------------->

                                <div class="cand-inst-name" ng-show="searches.type == 'job'||searches.type == 'internship'||searches.type == 'research'" >
                                    <label style="width: 50%"><i class="glyphicon glyphicon-calendar"  style="color:#7a7e87"></i><strong>Active Since:</strong>
                                        {{searches.creationDate|limitTo :11:0}} </label>

                                    <label ng-show='searches.lastDateToApply'><i class="fa fa-calendar" style="color:#7a7e87"></i><strong> Active Till:</strong></label>
                                    {{searches.lastDateToApply}}
                                    <br>
                                    <label ><i class="fa fa-bar-chart-o" style="color:#7a7e87"></i><strong> Experience Required:</strong></label>
                                    {{searches.minExp + ' to ' + searches.maxExp + ' year(s)'}}
                                    <br>
                                    <label ><i class="fa fa-comment" style="color:#7a7e87"></i><strong> Description:</strong></label>
                                    {{searches.opportunityDescription}}
                                    <br>
                                    <label ng-show="searches.keySkills"><i class="fa fa-plus-circle" style="color:#7a7e87"></i> <strong>Skills Required:</strong></label>

                                    <label ng-repeat="sks in searches.keySkills" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ sks}}</label>
                                    <br>
                                    <label ><i class="fa fa-map-marker" style="color:#7a7e87"></i><strong> Location(s):</strong></label>
                                    <label ng-repeat="loc in searches.opportunityLocation" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ loc}}</label>
                                    <br>
                                    <label style="width: 50%" ng-show="searches.startDate"><i class="fa fa-calendar" style="color:#7a7e87"></i><strong> Start Date:</strong>
                                        {{ searches.startDate}}</label>

                                    <label ng-show="searches.endDate"><i class="fa fa-calendar" style="color:#7a7e87"></i><strong> End Date:</strong>
                                        {{ searches.endDate}}</label>

                                    <br>
                                    <label ng-show="searches.selectionProcess"><i class="fa fa-check" style="color:#7a7e87"></i><strong> Selection Process:</strong>
                                        {{searches.selectionProcess}}</label>
                                    <br>
                                    <div>
                                        <strong>Desired Candidate Profile</strong>

                                        <div class=" cand-inst-name" ng-repeat="education in searches.eduDetails">
                                            <label><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i> <strong>Qualification:</strong>
                                                <label ng-repeat="qua in education.qualification" >
                                                    {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ qua}}</label>
                                            </label>

                                            <br>
                                            <label><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i><strong> Major(s):</strong> 
                                                <label ng-repeat="maj in education.major" >
                                                    {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ maj}}</label>
                                            </label>
                                            <br>
                                            <label><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i><strong> Course(s):</strong>

                                                <label ng-repeat="str in education.streams" >
                                                    {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ str}}</label>
                                            </label>
                                            <br>
                                            <label ng-show="education.yop" style="width: 50%"><i class="fa fa-calendar" style="color:#7a7e87"></i><strong> Year Of Passing:</strong>
                                                {{education.yop + ' and above'}}</label>

                                            <br>
                                            <label ng-show="education.cgpaMin || education.percentageMin"><i class="fa fa-pencil" style="color:#7a7e87"></i><strong>Min CGPA/Percentage:</strong>
                                                {{education.cgpaMin + '/' + education.percentageMin}}</label> <br>

                                        </div> 
                                    </div>

                                </div>

                                <!------------ event details------------>

                                <div class="cand-inst-name" ng-show="searches.type == 'event'">


                                    <label ng-show="searches.offerings"><i class="fa fa-gift" style="color:#7a7e87"></i> <strong>Event Offerings:</strong></label>

                                    <label ng-repeat="offers in searches.offerings" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ offers}}</label>
                                    <br>
                                    <label ><i class="fa fa-check" style="color:#7a7e87"></i><strong> Domain Interest:</strong></label>
                                    <label ng-repeat="it in searches.domainInterest" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ it}}</label>


                                    <br>
                                    <label ng-show="searches.functionInterest"><i class="fa fa-check-square-o" style="color:#7a7e87"></i><strong>Functional Domain:</strong>
                                        <label ng-repeat="fd in searches.functionInterest" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ fd}}</label></label>


                                </div>

                                <!--------------------- Guest Fields ------------------->

                                <div class="cand-inst-name" ng-show="searches.type == 'guest'">


                                    <label ng-show="searches.lastDateToApply"><i class="fa fa-calendar" style="color:#7a7e87"></i> <strong>Last Date To Apply:</strong>

                                        <label >
                                            {{searches.lastDateToApply}}</label></label>
                                    <br>

                                    <label ng-show="searches.offerings"><i class="fa fa-gift" style="color:#7a7e87"></i> <strong>Guest Offerings:</strong>

                                        <label ng-repeat="offers in searches.offerings" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ offers}}</label></label>
                                    <br>
                                    <label ng-show="searches.keySkills"><i class="fa fa-bars" style="color:#7a7e87"></i> <strong>Key Skills:</strong>

                                        <label ng-repeat="skl in searches.keySkills" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ skl}}</label></label>
                                    <br>
                                    <label ><i class="fa fa-bar-chart-o" style="color:#7a7e87"></i><strong> Experience Required:</strong></label>
                                    {{searches.minExp + ' to ' + searches.maxExp + ' year(s)'}}
                                    <br>
                                    <label ><i class="fa fa-check" style="color:#7a7e87"></i><strong> Domain Interest(s):</strong></label>
                                    <label ng-repeat="it in searches.domainInterest" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ it}}</label>
                                    <br>

                                    <label ng-show="searches.functionInterest"><i class="fa fa-check-square-o" style="color:#7a7e87"></i><strong>Functional Domain:</strong>
                                        <label ng-repeat="fd in searches.functionInterest" >
                                            {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ fd}}</label></label>


                                </div>
                                <div class="cand-inst-name" >
                                    <label ng-show="searches.eduDetails" ng-hide="searches.type == 'job'||searches.type == 'internship'||searches.type == 'research' || searches.type == 'event' || searches.type == 'mentorship' || searches.type == 'mentee' || searches.type == 'guest'"><strong> Educational Details:</strong>
                                    </label>
                                </div>
                                <div class=" education cand-inst-name" ng-hide="searches.type == 'job'||searches.type == 'internship'||searches.type == 'research' || searches.type == 'event' || searches.type == 'mentorship' || searches.type == 'mentee' || searches.type == 'guest'" ng-repeat="education in searches.eduDetails">

                                    <label style="width: 40%"><i class="glyphicon glyphicon-education" style="color:#7a7e87"></i><strong> Degree:</strong>
                                        {{education.degree}} </label>

                                    <label ><i class="fa fa-pencil-square-o" style="color:#7a7e87"></i><strong> Course:</strong></label>
                                    {{education.fieldOfStudy}}
                                    <br>


                                    <label><i class="fa fa-building-o" style="color:#7a7e87"></i> <strong>School:</strong></label>
                                    {{education.school}} <br>
                                    <label><i class="fa fa-pencil" style="color:#7a7e87"></i><strong> CGPA/Percentage:</strong></label>
                                    {{education.grade}} <br>
                                    <label style="text-align: left; width:auto"><i class="fa fa-calendar-o" style="color:#7a7e87"></i> <strong>Start Year:</strong>
                                        {{education.startDate}} </label>
                                    <label style="text-align: right; width:50%"><i class="fa fa-calendar-o" style="color:#7a7e87"></i> <strong>End Year:</strong>
                                        {{education.endDate}} </label>
                                </div> 
                                <div class="cand-inst-name">

                                    <label ng-show="searches.employmentDetails"><strong> Employment Details:</strong>
                                    </label>
                                </div>
                                <div class=" education cand-inst-name" ng-repeat="exp in searches.employmentDetails">

                                    <label style="width: 40%"><i class="glyphicon glyphicon-check" style="color:#7a7e87"></i><strong> Title:</strong>
                                        {{exp.title}} </label>

                                    <label ><i class="fa fa-building-o" style="color:#7a7e87"></i><strong> Company Name:</strong></label>
                                    {{exp.companyName}}
                                    <br>


                                    <label><i class="fa fa-clock-o" style="color:#7a7e87"></i> <strong>Duration:</strong></label>
                                    {{exp.startJobMonth + ' ' + exp.startJobYear + ' to '}} <span ng-if="exp.endJobMonth">{{ exp.endJobMonth + ' ' + exp.endJobYear}}</span><span ng-if="!exp.endJobMonth">Till Date.</span> <br>
                                    <label ng-show="exp.description"><i class="fa fa-pencil" style="color:#7a7e87" ></i><strong> Description:</strong>
                                        {{exp.description}} <br></label>
                                    <label style="text-align: left; width:auto"><i class="fa fa-map-marker" style="color:#7a7e87"></i> <strong>Location:</strong>
                                        {{exp.location}} </label>

                                </div> 



                                <!--						<div class="cand-year-pass">
                                                                                        <label><i class="fa fa-calendar"></i> Year Of Passing:</label>
                                                                                        {{searches.ugYop}}
                                                                                </div>-->


                                <div class="cand-interest" ng-show="searches.keySkills" >
                                    <label><strong>Skills:</strong></label>							
                                    <label ng-repeat="skill in searches.keySkills" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ skill}}</label>						
                                </div> 

                                <div class="cand-interest" ng-show="searches.website">
                                    <label><strong>Website:</strong> <a href="{{searches.website}}" target="_blank">{{searches.website}}</a></label>						
                                </div> 
                                <div class="cand-interest" ng-show="searches.functionInterest" ng-hide="searches.type">
                                    <label><strong>Functional Interest:</strong></label>							
                                    <label ng-repeat="fi in searches.functionInterest" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ fi}}</label>						
                                </div> 
                                <div class="cand-interest" ng-show="searches.interest">
                                    <label><strong>Interests:</strong></label>							
                                    <label ng-repeat="i in searches.interest" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ i}}</label>						
                                </div> 

                                <div class="cand-interest" ng-show="searches.domainInterest" ng-hide="searches.type == 'job'||searches.type == 'internship'||searches.type == 'research' || searches.type == 'mentee' || searches.type == 'event' || searches.type == 'mentorship' || searches.type == 'guest'">
                                    <label><strong>Domain Interest:</strong></label>
                                    <label ng-repeat="domains in searches.domainInterest" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ domains||'None'}}</label>						
                                </div>
                                <div class="cand-interest" ng-show="searches.streams">
                                    <label><strong>Streams:</strong></label>
                                    <label ng-repeat="streams in searches.streams" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ streams||'None'}}</label>						
                                </div>

                                <div class="comment cand-interest" ng-show="searches.projSummary">
                                    <label ><strong>Project Summary:</strong></label>
                                    {{searches.projSummary}}
                                </div>

                                <div class="cand-interest" ng-show="searches.preferLocation">
                                    <label><i class="fa fa-map-marker" style="color:#7a7e87"></i><strong> Preferred Location(s):</strong></label>
                                    <label ng-repeat="location in searches.preferLocation" >
                                        {{$first ? ' ' : $last ? '&nbsp;and ' : ', '}}{{ location||'None'}}</label>
                                </div> 
                                <div ng-show="searches.type == 'job'||searches.type == 'internship'||searches.type == 'research' || searches.type == 'mentee' || searches.type == 'event' || searches.type == 'mentorship' || searches.type == 'guest'" >
                                    <button class="btn btn-primary" ng-hide=" usesearches.userType === 'institute'" ng-click="applyToJob(searches.id, searches.ownerFields.userId, searches.ownerFields.emailId, searches.summary, searches.ownerFields.userType, searches.type)" style="width: 100%">Apply</button>
                                </div>



                            </div>
                        </div>
                    </li> 
                </ul> 

                <!--			<p> 	name from backend is {{name}} </p>-->


            </form>	
        </div>
        <script type="text/javascript">
                    $(document).ready(function () {

                        //$(".comment").shorten();
                        $(".comment").shorten({
                            "showChars": 50,
                            "moreText": "See More",
                            "lessText": "Less",
                        });
                    });
        </script>
        <script type="text/javascript">
                    $(document).ready(function () {

                        //$(".comment").shorten();
                        $(".education").shorten({
                            "showChars": 500,
                            "moreText": "See More",
                            "lessText": "Less",
                        });
                    });
        </script>
        <script type="text/javascript">
                    $(document).ready(function () {

                        //$(".comment").shorten();
                        $(".streams").shorten({
                            "showChars": 100,
                            "moreText": "See More",
                            "lessText": "Less",
                        });
                    });
        </script>

        <ng-include src="'templates/right-menu.html'"></ng-include>	
        <ng-include src="'templates/footesearches.html'"></ng-include>
    </div>
</div>
