
<div ng-controller="OrgSearchController">
    <div class="loading-spiner-holder" data-loading ></div>
    <!-- heading of search type(campus recruitment,internship,research project)-->
    <form name="form" class="form-inline">

        <div>
            <h4 class="inner-head" align="justify" class="panel-body">Search For Students</h4>
        </div>

        <div class="search-form">
            <div align="right">
                <button type="button" class="search-button"  ng-click=" sendData()"><!--ng-disabled="form.$pristine"-->
                    <i class="fa fa-search"></i> Search
                </button></div><p></p>
            <div><label>Search For:</label>

                <select class="form-control" title="- Select an option -" style="width:200px;height:30px;" name="jobType" ng-model="jobInterest">
                    <option selected="selected" value="-1" disabled selected>- Select an option -</option>
                    <option class="select-dash" disabled="disabled">---------------------------</option>
                    <option value="Campus Recruitment">Campus Recruitment</option><option value="Internship">Internship</option><option value="Research Project">Research Project</option><option value="Career Opportunity">Career Opportunity</option>
                </select>

            </div>
            <p></p>
            <div class="field-separator"></div>

            <p></p>
            <div><label>Any Keywords:</label>&nbsp;

                <input type="text" class="form-control"  style="width: 348px" placeholder="Skills, Technologies etc." ng-model="anyKeyword" title = "This will search for any of the entered keywords">
            </div>
            <p></p>
            <div><label>All Keywords:</label>&nbsp;&nbsp;&nbsp;

                <input type="text" class="form-control"  style="width: 348px"  placeholder="Skills, Technologies etc." ng-model="allKeyword" title = "This will search for all entered keywords">
            </div>
            <p></p>
            <div><label>Skip Keywords:</label>

                <input type="text" class="form-control"  style="width: 348px"  placeholder="Skills, Technologies etc." ng-model="exKeyword" title = "This will exclude the entered keywords in search">
            </div>
            <p></p>

            <div class="field-separator"></div>
            <p></p>
            <div>
                <label>Domain:</label>
                <selectize config='itDomainsConfig' options='itDomainOptions' ng-model="itDomain"></selectize>
                <selectize config='nonItDomainsConfig' options='nonItDomainOptions' ng-model="nonItDomain"></selectize>

            </div>
            <p></p>
            <div class="field-separator"></div>
            <p></p>

            <div>
                <label>Location (Current):</label>
                <!--<div  ng-controller="dropdownController">-->
                <selectize name="jobLocation" config='locationConfig' options='locationOptions' ng-model="currLocation"></selectize>
                 <label>Location (Preferred):</label>
                <selectize name="jobLocation" config='locationConfig' options='locationOptions' ng-model="jobLocation"></selectize>
                <!--</div>-->
            </div>
            <!--</div>-->


            <p></p>
            <div class="field-separator"></div>
            <p></p>

            <div>
                <label>Education:</label>

                <!--<selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major'></selectize>-->
                <selectize name="course" config='courseConfig' options='courseOptions' ng-model='course'></selectize>
                <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='stream'></selectize>
                <div><label>Score:</label></div>
                <label> Min. :</label>

                <input type="number" class="form-control" style="width:100px;" ng-model="gradeMax">

                <label> Max. :</label>

                <input type="number"  class="form-control" style="width:100px;" ng-model="gradeMin"><p></p>
                <div class="field-separator"></div>
                <p></p>
                <div><label>Year of Passing:</label></div>
                <label> From:</label>

                <input type="number" class="form-control" style="width:100px;" ng-model="yopMin">

                <label> Upto:</label>

                <input type="number"  class="form-control" style="width:100px;" ng-model="yopMax">

                <p></p>

            </div>

            <p></p>	

            <div class="field-separator"></div>
            <p></p>
            <div><label>All India Rank (JEE Main):</label></div>

            <label> From:</label>

            <input type="text" class="form-control" style="width:100px;" placeholder="Min. AIR" ng-model="jeeMainMin">

            <label> Upto:</label>

            <input type="text"  class="form-control" style="width:100px;" placeholder="Max. AIR" ng-model="jeeMainMax">

            <p></p>
            <div><label>All India Rank (JEE Advanced):</label></div>


            <label> From:</label>

            <input type="text" class="form-control" style="width:100px;" placeholder="Min. AIR" ng-model="jeeAdvMin">



            <label> Upto:</label>

            <input type="text" class="form-control" style="width:100px;" placeholder="Max. AIR" ng-model="jeeAdvMax">


            <p></p>

            <div class="field-separator"></div>
            <p></p>
            <div class="form-footer">
                <button type="button" class="search-button"  ng-click=" sendData()"><!--ng-disabled="form.$pristine"-->
                    <i class="fa fa-search"></i> Search
                </button>
            </div>	<p></p>	

        </div>		
    </form>

</div>

