
<div ng-controller="OrgSearchController">
    <div class="loading-spiner-holder" data-loading ></div>
    <!-- heading of search type(campus recruitment,internship,research project)-->
    <form name="form" class="form-inline">

        <div>
            <h4 class="inner-head" align="justify" class="panel-body">Search For Institutes</h4>
        </div>

        <div class="search-form">
            <div align="right">
                <button type="button" class="search-button"  ng-click=" sendData2()"><!--ng-disabled="form.$pristine"-->
                    <i class="fa fa-search"></i> Search
                </button></div><p></p>
            <div><label>Search For:</label>

                <select class="form-control" title="- Select an option -" style="width:200px;height:30px;" name="jobType" ng-model="jobInterest">
                    <option selected="selected" value="-1" disabled selected>- Select an option -</option>
                    <option class="select-dash" disabled="disabled">---------------------------</option>
                    <option value="Campus Recruitment">Campus Recruitment</option><option value="Internship">Internship</option><option value="Research Project">Research Project</option>
                </select>

            </div>
            <p></p>
            <div class="field-separator"></div>

            <p></p>		

            <div>
                <div><label>*Institute Type:</label> &nbsp; &nbsp;


                    <label style="font-weight: normal" ng-repeat="type in types">
                        <input
                            type="checkbox"
                            name="selectedTypes[]"
                            value="{{type.name}}"
                            ng-model="type.selected"
                            > {{type.name}}&nbsp;

                    </label>
                </div>
                <p></p>
                <div class="field-separator"></div>
                <p></p>

                <div>
                    <label>Stream:</label>
                    <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream'></selectize>
                </div>
                <p></p>
                <div class="field-separator"></div>
                <p></p>

                <div>
                    <label>Location (Current/Preferred):</label>
                    <!--<div  ng-controller="dropdownController">-->
                    <selectize name="jobLocation" config='locationConfig' options='locationOptions' ng-model="jobLocation"></selectize>

                    <!--</div>-->
                </div>
                <!--</div>-->


                <p></p>
                <div class="field-separator"></div>
                <p></p>

                <div class="form-footer">
                    <button type="button" class="search-button"  ng-click=" sendData2()"><!--ng-disabled="form.$pristine"-->
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>	<p></p>	

            </div>		
    </form>

</div>

