<div ng-controller="orgPostController">
    <div class="loading-spiner-holder" data-loading ></div>
	<form name="form" role="form"> 
	
		<div>
			<h4 class="inner-head">Internship Opportunity</h4>
		</div>
		<p></p>
		<div class="search-form">
	<div ng-include src="'templates/part.html'"></div>
		<p></p>
	<div ng-include src="'templates/part1.html'"></div>
	 <input type="hidden" name="country" ng-model="type" ng-init="type='Internship'" value="Internship">
	<div class="form-footer">
					<input type="submit" class="btn btn-primary"  value="Post Opportunity" ng-disabled="form.$invalid" ng-click="addDetails();copyPlacementOpportunity();OrgpostOpportunity()">
						<!--<i class="fa fa-upload"></i>-->
					</input>
			</div>	<p></p>				
	</div>
		
	</form>

	
</div>