<div class="section" ng-controller="OrgPostPutController">
    <div class="loading-spiner-holder" data-loading ></div>
    <form name="form" role="form"> <!--ng-submit="postOpportunity(form.$valid)"-->
        <div class="left-section left-section-inner">

            <div>
                <h4 class="inner-head">Job Opportunity</h4>
            </div>

            <p></p>
            <div class="search-form">
                <!--<div ng-include src="'templates/part.html'"></div>-->
                <div align="right">
                    <button type="reset" value="Reset">Clear All</button></div><p></p>
                <div class="form-inline" ng-class="{ 'has-error': form.positionName.$touched && form.positionName.$invalid}">	
                    <label>*Position Name:</label>

                    <input type="text" name="positionName" style="width:310px;" ng-model="opp.summary" class="form-control" placeholder="Enter Postion Name" required="" autofocus>
                    <div class="help-block" ng-messages="form.positionName.$error" ng-if="form.positionName.$touched">
                        <p ng-message="required">This field is required!</p>
                    </div>
                </div>

                <p></p>
                <div class="form-inline">
                    <label>No. Of Positions:</label>
                    <select class="form-control" name="noOfPositions" style="width:80px;" ng-model="opp.noOfPositions">
                        <option selected="selected" value="-1" disabled selected>- Select a No. -</option>
                        <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                        <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
                        <option value="10+">10+</option>
                    </select>

                    &nbsp;<label>Budget:</label>

                    <input type="text" name="budget" ng-model="opp.budget" style="width:80px;" class="form-control" placeholder="">&nbsp;


                    <select class="form-control" placeholder="Currency" title="Currency" style="width: 80px;" ng-model="opp.currency">
                        <option selected="selected" value="-1" disabled selected>- Choose Currency -</option>
                        <option value="INR">INR</option>
                        <option value="USD">USD</option>
                    </select>
                </div>	
                <p></p>

                <div class="form-inline">
                    <label>*Keyskills:</label> <selectize config='skillConfig' options='skillOptions' ng-model="keySkills"></selectize>
                    <!--<p class="msg-error">{{skillMessage}}</p>-->
                </div><p></p>

                <!--<div class="form-inline" ng-class="{ 'has-error': form.jobLocation.$touched && form.jobLocation.$invalid}">	-->
                <label>*Job Location(s):</label>
                <selectize name="jobLocation" config='locationConfig' options='locationOptions' ng-model="jobLocation"></selectize><p><p>
                <div class="field-separator"></div>
                <p></p>
                <div>
                    <h4 class="inner-head">Eligibility Criteria</h4>

                    <b>*Add Qualification</b> <a href=""><img class="add right" src="images/add.png" ng-click="showBlock = true"/> </a>
                    <div ng-show="showBlock">

                        <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major'></selectize>
                        <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course'></selectize>
                        <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream'></selectize>
                        <selectize name="yop" config='yopConfig' options='yopOptions' ng-model='$parent.yop'></selectize>
                        <input type="text" class="form-control" ng-model="opp.eduDetails[0].gradeMin" placeholder="Min.CGPA / Percentage" name="minGrade">
                        <input type="text" class="form-control" ng-model="opp.eduDetails[0].gradeMax" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock1 = true"/></a>Add
                        <p></p>


                        <div ng-show="showBlock1">
                            <selectize name="major" config='majorConfig1' options='majorOptions1' ng-model='$parent.major1'></selectize>
                            <selectize name="course" config='courseConfig1' options='courseOptions1' ng-model='$parent.course1'></selectize>
                            <selectize name="stream" config='streamConfig1' options='streamOptions1' ng-model='$parent.stream1'></selectize>
                            <selectize name="yop" config='yopConfig1' options='yopOptions1' ng-model='$parent.yop1'></selectize>
                            <input type="text" class="form-control" ng-model="opp.gradeMin1" placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model="opp.gradeMax1" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock1 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock2 = true"/></a>Add
                        </div><p></p>

                        <div ng-show="showBlock2">
                            <selectize name="major" config='majorConfig2' options='majorOptions2' ng-model='$parent.major2'></selectize>
                            <selectize name="course" config='courseConfig2' options='courseOptions2' ng-model='$parent.course2'></selectize>
                            <selectize name="stream" config='streamConfig2' options='streamOptions2' ng-model='$parent.stream2'></selectize>
                            <selectize name="yop" config='yopConfig2' options='yopOptions2' ng-model='$parent.yop2'></selectize>
                            <input type="text" class="form-control" ng-model="opp.gradeMin2" placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model="opp.gradeMax2" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock2 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock3 = true"/></a>Add
                        </div><p></p>

                        <div ng-show="showBlock3">
                            <selectize name="major" config='majorConfig3' options='majorOptions3' ng-model='$parent.major3'></selectize>
                            <selectize name="course" config='courseConfig3' options='courseOptions3' ng-model='$parent.course3'></selectize>
                            <selectize name="stream" config='streamConfig3' options='streamOptions3' ng-model='$parent.stream3'></selectize>
                            <selectize name="yop" config='yopConfig3' options='yopOptions3' ng-model='$parent.yop3'></selectize>
                            <input type="text" class="form-control" ng-model="opp.gradeMin3" placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model="opp.gradeMax3" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock3 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="showBlock4 = true"/></a>Add
                        </div><p></p>

                        <div ng-show="showBlock4">
                            <selectize name="major" config='majorConfig4' options='majorOptions4' ng-model='$parent.major4'></selectize>
                            <selectize name="course" config='courseConfig4' options='courseOptions4' ng-model='$parent.course4'></selectize>
                            <selectize name="stream" config='streamConfig4' options='streamOptions4' ng-model='$parent.stream4'></selectize>
                            <selectize name="yop" config='yopConfig4' options='yopOptions4' ng-model='$parent.yop4'></selectize>
                            <input type="text" class="form-control" ng-model="opp.gradeMin4" placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model="opp.gradeMax4" placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="showBlock4 = false"/></a>Remove
                        </div><p></p>

                    </div><p></p>
                    <!--<div class="field-separator"></div><p><p>-->
                    <div class="form-inline">



                        <label>Min. Experience:</label>&nbsp;<select class="form-inline form-control" style="width:100px;" name="minExp" ng-model="opp.minExperience">
                            <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                            <option value="0 year">0 year</option><option value="1 year">1 year</option><option value="2 years">2 years</option>
                            <option value="3 years">3 years</option><option value="4 years">4 years</option><option value="5 years">5 years</option>
                            <option value="6 years">6 years</option><option value="7 years">7 years</option><option value="8 years">8 years</option>
                            <option value="9 years">9 years</option><option value="10 years">10 years</option><option value="10+ years">10+ years</option>
                        </select>

                        <label>Max. Experience:</label>&nbsp;<select class="form-inline form-control" style="width:100px;" name="maxExp" ng-model="opp.maxExperience">
                            <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                            <option value="0 year">0 year</option><option value="1 year">1 year</option><option value="2 years">2 years</option>
                            <option value="3 years">3 years</option><option value="4 years">4 years</option><option value="5 years">5 years</option>
                            <option value="6 years">6 years</option><option value="7 years">7 years</option><option value="8 years">8 years</option>
                            <option value="9 years">9 years</option><option value="10 years">10 years</option><option value="10+ years">10+ years</option>
                        </select>


                    </div><p></p>
                    <div class="field-separator"></div><p><p>
                    <p></p>
                    <div>
                        <label>*Opportunity Description:</label>
                        <div  ng-class="{ 'has-error': form.jobDescription.$touched && form.jobDescription.$invalid}">
                            <textarea class= "form-control" name="jobDescription" rows="3" maxlength="1000" ng-model="opp.opportunityDescription" placeholder="Enter Job Description (characters limit is 1000)" required=""></textarea>
                            <div class="help-block" ng-messages="form.jobDescription.$error" ng-if="form.jobDescription.$touched">
                                <p ng-message="required">This field is required!</p>
                            </div>
                        </div>								
                    </div>			
                    <p></p>

                    <div>
                        <label>Selection Process:</label>
                        <textarea class= "form-control" name="selectionProcess" maxlength="1000" ng-model="opp.selectionProcess" rows="3" placeholder=" Enter selection process details (characters limit is 1000)"></textarea>
                    </div>
                    <p></p>
                    <div class="form-inline">
                        <label>Last Date To Apply:</label>
                        <input type="text" id="test"  style="width:190px;" name="lastDate" ng-model="opp.lastDateToApply" class= "form-control" placeholder="Example: 01-Jan-1990"></input>
                        <p></p>
                        <div class="field-separator"></div><p></p>
                    </div>


                    <div class="form-footer">
                        <input type="submit" class="btn btn-primary" value="Post Opportunity" ng-click="addDetails();repostOpportunity(form.$valid)"> <!--ng-disabled="form.$invalid"-->
                        <!--<i class="fa fa-upload"></i>-->
                        </input>
                    </div>	<p></p>				
                </div>

            </div>		
    </form>
</div>
<ng-include src="'templates/right-menu.html'"></ng-include>	
<ng-include src="'templates/footer.html'"></ng-include>
</div>