<!--<div class="banner inner-banner">
	<h2 class="inner-head">organisations</h2>
	<img src="images/inner-banner.png" class="box-shadow" alt="">
</div>--> 
<div class="section" ng-controller="OrgSearchController">
    <div class="loading-spiner-holder" data-loading ></div>
	<div class="left-section left-section-inner">
		<!-- heading of search type(campus recruitment,internship,research project)-->
		<form name="form" class="form-inline">
		
		<div>
			<h4 class="inner-head" align="justify" class="panel-body">Search For Talent</h4>
		</div>
		<!-- 3 types of search for organisation-->
		<!--<ul id="tab_ul" class="tabs" ng-controller="searchoptController">
			<li ng-repeat="searchOpt in searchOpts" >
			<a  href="{{searchOpt.template}}">{{searchOpt.title}}</a></li>	
		</ul>-->
			<!-- form-body starts-->
			<!--<div class="horizontal-line"></div>-->
		<!--<div class="field-separator"></div>
		<p></p>-->
							
			<div class="search-form">
			<div align="right">
			<button type="button" class="search-button"  ng-click=" sendData()"><!--ng-disabled="form.$pristine"-->
												<i class="fa fa-search"></i> Search
											</button></div><p></p>
							<div><label>Search For:</label>
			
				<select class="form-control" title="- Select an option -" style="width:200px;height:30px;" name="jobType" ng-model="jobInterest">
					<option selected="selected" value="-1" disabled selected>- Select an option -</option>
					<option class="select-dash" disabled="disabled">---------------------------</option>
					<option value="Campus Recruitment">Campus Recruitment</option><option value="Internship">Internship</option><option value="Research Project">Research Project</option><option value="Career Opportunity">Career Opportunity</option>
				</select>
								
				</div>
				<p></p>
				<div class="field-separator"></div>
							
						<!--  free text for key skills with boolean search -->
							<!--<div class="panel-body-field">--><!--<label><h4>Key Skills</h4></label>-->
							<!--<div class="field-separator"></div>-->
							<p></p>
							<div><label>Any Keywords:</label>&nbsp;
								
									<input type="text" class="form-control"  placeholder="Skills, Technologies etc." ng-model="anyKeyword" title = "This will search for any of the entered keywords">
								</div>
								<p></p>
								<!--<div  ng-controller="filterController">-->
										<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
										<!-- <label class="bool" ng-click= "togglefilter(); toggle = !toggle;"  >{{toggleText}}</label>
											<div ng-show="filter">
												<div class="panel-body">-->
													<!--<div class="row">-->
													
														<div><label>All Keywords:</label>&nbsp;&nbsp;&nbsp;
														
														<input type="text" class="form-control"  placeholder="Skills, Technologies etc." ng-model="allKeyword" title = "This will search for all entered keywords">
														</div>
														<p></p>
														<div><label>Skip Keywords:</label>
														
														<input type="text" class="form-control"  placeholder="Skills, Technologies etc." ng-model="exKeyword" title = "This will exclude the entered keywords in search">
														</div>
														<p></p>
													
													<!--</div>-->
													
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->	
									<!--</div>	-->	
							<!--</div>-->
							
							<div class="field-separator"></div>
								<p></p>
							<div>
									<label>Domain:</label>
									
						    
							&nbsp;&nbsp;&nbsp;&nbsp;<dropdown-multiselect class="btn-alignment"  placeholder="IT Domains" model="selectedItDomains " options="itDomains"></dropdown-multiselect>
							<dropdown-multiselect class="btn-alignment"  placeholder="Non-IT Domains" model="selectedNonItDomains " options="nonItDomains"></dropdown-multiselect>
							</div>
							<p></p>
								<div class="field-separator"></div>
							<p></p>
							
						
							<!-- dropdown-multiselect directive for current and preferred locations -->
							
							
							
							
							<!--<div class="row">-->
							<div>
							<label>Location:</label>
									<!--<div  ng-controller="dropdownController">-->
									&nbsp;&nbsp;&nbsp;<dropdown-multiselect class="btn-alignment"  placeholder="Current Location" model="selectedlocations " options="locations"></dropdown-multiselect>
									<dropdown-multiselect class="btn-alignment" model="selectedlocations " placeholder="Preferred Location" options="locations"></dropdown-multiselect>
							<!--</div>-->
							</div>
							<!--</div>-->
							
							
							<p></p>
							<div class="field-separator"></div>
							<p></p>
							
							<!--  detailed search of educational(UG) qualification with dropdown-multiselect directive--> 
						
							
							
									<!-- divide a row in 3 equal parts-->
								<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button type="button" class="button-default" data-toggle="collapse" data-target="#collapseUG">   Any UG   </button>
											<div id="collapseUG" class="panel-collapse collapse">
												<div class="panel-body">
													<div class="row">
													<!-- free text for any UG--
														<div><input type="text" class="form-control" value=""></div>
													</div>
												</div>
											</div>
								</div>		-->							
											
								<div>
								<label>UG Details:</label>
									<dropdown-multiselect class="btn-alignment" model="selectedMajors" placeholder="Major" options="majors"></dropdown-multiselect>
									<dropdown-multiselect class="btn-alignment" model="selectedUGcourses" placeholder="Course" options="UGcourses"></dropdown-multiselect><p></p>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<dropdown-multiselect class="btn-alignment"  placeholder="Stream" model="selectedUgStreams " options="ugStreams"></dropdown-multiselect>
									<dropdown-multiselect class="btn-alignment" model="selectedUGcourses" placeholder="Year Of Passing" options="UGcourses"></dropdown-multiselect>
											<p></p>
										
								</div>
											
							
							
								<p></p>	
							<div class="field-separator"></div>
							<p></p>
															
											
								<div>
								<label>PG Details:</label>
										<dropdown-multiselect class="btn-alignment" model="selectedMajors" placeholder="Major" options="majors"></dropdown-multiselect>
								
										<dropdown-multiselect  class="btn-alignment" model="selectedUGcourses" placeholder="Course" options="UGcourses"></dropdown-multiselect><p></p>
										&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<dropdown-multiselect class="btn-alignment"  placeholder="Stream" model="selectedPgStreams " options="pgStreams"></dropdown-multiselect>
										<dropdown-multiselect  class="btn-alignment" model="selectedUGcourses" placeholder="Year of Passing" options="UGcourses"></dropdown-multiselect>
								</div>
									<p></p>
							
							
							<!--<label>Year Of Passing:</label>
								<select class="form-control" title="- Select an option -" style="width:100px;height:30px" name="pgYop" ng-model="yop">
					<option selected="selected" value="-1" disabled selected>- Select an option  -</option>
					<option class="select-dash" disabled="disabled">---------------------------</option>
					<option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option>
				</select>-->
				
							
							<p></p>
							<div class="field-separator"></div>
							<p></p>
							<div><label>All India Rank (JEE Main):</label></div>
							
							
							 
							 <label> From:</label>
								
									<input type="text" class="form-control" style="width:100px;" placeholder="Min. AIR" ng-model="airMainMin">
						
								
							
								<label> Upto:</label>
								
									<input type="text"  class="form-control" style="width:100px;" placeholder="Max. AIR" ng-model="airMainMax">
							
							<p></p>
								<div><label>All India Rank (JEE Advanced):</label></div>
								

							 <label> From:</label>
								
									<input type="text" class="form-control" style="width:100px;" placeholder="Min. AIR" ng-model="airAdvMin">
							
								
							 
								<label> Upto:</label>
								
									<input type="text" class="form-control" style="width:100px;" placeholder="Max. AIR" ng-model="airAdvMax">
								
								
								<p></p>
							<div class="field-separator"></div>
							<p></p>
							
							<div><label>Score:</label> &nbsp; &nbsp;
							
							<button type="button" class="btn btn-default btn-md" ng-click="showExtraUg=true;showExtraPg=false;extraFields2=false;extraFields3=false;"> UG </button>&nbsp; &nbsp;
							<button type="button" class="btn btn-default btn-md" ng-click="showExtraPg=true;showExtraUg=false;extraFields=false;extraFields1=false;"> PG</button>
							<p></p>
							<div ng-show="showExtraUg">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="score" value="CGPA" ng-click="extraFields=true;extraFields1=false"> CGPA &nbsp; &nbsp;
							<input type="radio" name="score" value="Aggregate Percentage" ng-click="extraFields=false;extraFields1=true"> Aggregate Percentage</div></div>
							<p></p>
							<div ng-show="showExtraPg">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="score" value="CGPA" ng-click="extraFields2=true;extraFields3=false"> CGPA &nbsp; &nbsp;
							<input type="radio" name="score" value="Aggregate Percentage" ng-click="extraFields2=false;extraFields3=true"> Aggregate Percentage</div>
							<p></p>
							
							<div ng-show="extraFields">
							 <div class="form-inline">
							<label>Min. CGPA: <select class="form-control" style="width:60px;" name="minCgpa" required="" ng-model="ugCgpaMin"></label>
								<option selected="selected" value="-1" disabled selected>- Select Min. CGPA -</option>
								<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
								
							</select>
							
							<label>Max. CGPA: <select class="form-control" style="width:60px;" name="maxCgpa" ng-model="ugCgpaMax"></label>
								<option selected="selected" value="-1" disabled selected>- Select Max. CGPA -</option>
								<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
								
							</select>
							</div>
							</div>
							
							<div ng-show="extraFields1">
							 <div class="form-inline">
							<label>Min. %: <select class="form-control" style="width:120px;" name="minPercent" required="" ng-model="ugPercentageMin"></label>
								<option selected="selected" value="-1" disabled selected>- Select Min. Percentage -</option>
								<option value="50%">50%</option><option value="60%">60%</option><option value="70%">70%</option><option value="80%">80%</option><option value="90%">90%</option><option value="90% +">90% +</option>
								
							</select>
						
							<label>Max. %: <select class="form-control" style="width:120px;" name="maxPercent" ng-model="ugPercentageMax"></label>
								<option selected="selected" value="-1" disabled selected>- Select Max. Percentage -</option>
								<option value="50%">50%</option><option value="60%">60%</option><option value="70%">70%</option><option value="80%">80%</option><option value="90%">90%</option><option value="90% +">90% +</option>
								
							</select>
							</div>
							</div>
							
							<div ng-show="extraFields2">
							 <div class="form-inline">
							<label>Min. CGPA: <select class="form-control" style="width:60px;" name="minCgpa" required="" ng-model="pgCgpaMin"></label>
								<option selected="selected" value="-1" disabled selected>- Select Min. CGPA -</option>
								<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
								
							</select>
						
							<label>Max. CGPA: <select class="form-control" style="width:60px;" name="maxCgpa" ng-model="pgCgpaMax"></label>
								<option selected="selected" value="-1" disabled selected>- Select Max. CGPA -</option>
								<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
								
							</select>
							</div>
							</div>
							
							<div ng-show="extraFields3">
							 <div class="form-inline">
							<label>Min. %: <select class="form-control" style="width:120px;" name="minPercent" required="" ng-model="pgPercentageMin"></label>
								<option selected="selected" value="-1" disabled selected>- Select Min. Percentage -</option>
								<option value="50%">50%</option><option value="60%">60%</option><option value="70%">70%</option><option value="80%">80%</option><option value="90%">90%</option><option value="90% +">90% +</option>
								
							</select>
						
							<label>Max. %: <select class="form-control" style="width:120px;" name="maxPercent" ng-model="pgPercentageMax"></label>
								<option selected="selected" value="-1" disabled selected>- Select Max. Percentage -</option>
								<option value="50%">50%</option><option value="60%">60%</option><option value="70%">70%</option><option value="80%">80%</option><option value="90%">90%</option><option value="90% +">90% +</option>
								
							</select>
							</div>
							</div><p></p>
					
							<div class="field-separator"></div>
							<p></p>
								<div class="form-footer">
											<button type="button" class="search-button"  ng-click=" sendData()"><!--ng-disabled="form.$pristine"-->
												<i class="fa fa-search"></i> Search
											</button>
								</div>	<p></p>	
			
			</div>		
				
	</div>
	</form>
	 <ng-include src="'templates/right-menu.html'"></ng-include>	
	<ng-include src="'templates/footer.html'"></ng-include>
</div>

