<!--<div class="banner inner-banner">
	<h2 class="inner-head">organisations</h2>
	<img src="images/inner-banner.png" class="box-shadow" alt="">
</div>-->

<div class="section">
	<div class="left-section left-section-inner">
		<!-- heading of search type(campus recruitment,internship,research project)-->
		<div>
			<h2 class="inner-head">Search For Internship</h2>
		</div>
		<!-- 3 types of search for organisation-->
		<ul id="tab_ul" class="tabs" ng-controller="searchoptController">
			<li class="" ng-repeat="searchOpt in searchOpts"><a  href="{{searchOpt.template}}">{{searchOpt.title}}</a></li>
		</ul>		
		<!-- form body starts-->
			<div class="search-form">
					<!--  free text for key skills with boolean search -->
				<div class="panel-body-field"><label>Key Skills:</label>
					<div><label>Any Keywords:</label></div>
					<div>
						<input type="text" class="free-text" value="   skills, area of interest">
					</div>
				<div class="row" ng-controller="filterController">
					<div class="col-md-4">
						<label class="bool" ng-click= "togglefilter(); toggle = !toggle;"  >{{toggleText}}</label>
							<div ng-show="filter">
								<div class="panel-body">
								<div class="row">
									<div><label>All Keywords:</label></div>
									<div>
										<input type="text" class="free-text" value="   skills, area of interest">
									</div>
									<div><label>Excluding Keywords:</label></div>
									<div>
										<input type="text" class="free-text" value="   skills, area of interest">
									</div>
								</div>
								</div>
							</div>
					</div>	
				</div>
				</div>
							
				<div class="field-separator"></div>
								
				<div class="panel-body-field">
					<label>Area Of Interest:</label>
					<!--once options of area of interest is decided than add it here in dropfdown menu-->
				</div>
				
				<div class="field-separator"></div>
					<!-- dropdown-multiselect directive for current and preferred locations -->
				<div class="panel-body-field" ng-controller="dropdownController">
					<label>Current Location:</label>
					<dropdown-multiselect placeholder="Current Location" class="btn-alignment" model="selectedlocations " options="locations"></dropdown-multiselect>
				</div>		
								
				<div class="field-separator"></div>
									
				<div class="panel-body-field" ng-controller="dropdownController">
					<label>Preferred Location:</label>	
					<dropdown-multiselect   model="selectedlocations" placeholder="Preferred Location" options="locations"> </dropdown-multiselect>
				</div>	
				
				<div class="field-separator"></div>
								
				<div class="panel-body-field">
					<label>Available Internship:</label>
					<!-- selection for available internship period -->			
					<div class='btn-group show-on-hover' ng-class='{open: open}' ng-controller="filterController">
						<button class='button-default dropdown-toggle' ng-click='openFilter()'>select period<span class='caret'></span>
						</button>
						<ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
							<li ng-repeat='option in available_internship'>
								<a ng-click='toggleSelectItem(option)'>
								<span ng-class='getClassName(option)' aria-hidden='true'></span> {{option.name}}</a>
							</li>
						</ul>
					</div>
			
				</div>
								
				<div class="field-separator"></div>
								
				<div class="panel-body-field">
					<label>Available In:</label>
					<!-- selection for available In period -->	
					<div class='btn-group show-on-hover' ng-class='{open: open}' ng-controller="filterController">
							<button class='button-default dropdown-toggle' ng-click='openFilter()'>select period<span class='caret'></span>
							</button>
							<ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
								<li ng-repeat='option in available_in'>
									<a ng-click='toggleSelectItem(option)'>
									<span ng-class='getClassName(option)' aria-hidden='true'></span> {{option.name}}</a>
								</li>
							</ul>
					</div>
				</div>
							
				<div class="panel-body-field">
					<label>Expected Monthly stipend:</label>
					<!-- selection for monthly stipend -->	
					<div class='btn-group show-on-hover' ng-class='{open: open}' ng-controller="filterController">
							<button class='button-default dropdown-toggle' ng-click='openFilter()'>select amount<span class='caret'></span>
							</button>
							<ul class='dropdown-menu' aria-labelledby='dropdownMenu'>
								<li ng-repeat='option in stipend'>
									<a ng-click='toggleSelectItem(option)'>
									<span ng-class='getClassName(option)' aria-hidden='true'></span> {{option.name}}</a>
								</li>
							</ul>
					</div>
				</div>
				
				<div class="field-separator"></div>
								
				<!--  detailed search of educational(UG) qualification with dropdown-multiselect directive--> 
				<div class="panel-body-field">
					<label>UG Qualification:</label>
					<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<button type="button" class="button-default" data-toggle="collapse" data-target="#collapseUG">   Any UG   </button>
								<div id="collapseUG" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row">
											<div><input type="text" class="free-text" value=""></div>
										</div>
									</div>
								</div>
							</div>									
							
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-controller="dropdownController">
							<dropdown-multiselect  model="selectedUGcourses" placeholder="Specific UG" options="UGcourses"></dropdown-multiselect>
						</div>
										
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-controller="dropdownController">
							<dropdown-multiselect  model="selectedUGcourses"  placeholder="Premium UG" options="UGcourses"></dropdown-multiselect>
						</div>
					</div>
				</div>
									
				<div class="field-separator"></div>
				<!--  detailed search of educational(PG) qualification with dropdown-multiselect directive--> 
				<div class="panel-body-field"><label>PG Qualification:</label>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<button type="button" class="button-default " data-toggle="collapse" data-target="#collapsePG">   Any PG   </button>
								<div id="collapsePG" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row">
											<div><input type="text" class="free-text" value=""></div>
										</div>
									</div>
								</div>
						</div>		
							
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-controller="dropdownController">
							<dropdown-multiselect  model="selectedUGcourses" placeholder="Specific PG" options="UGcourses"></dropdown-multiselect>
						</div>
								
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-controller="dropdownController">
							<dropdown-multiselect model="selectedUGcourses" placeholder="Premium PG" options="UGcourses"></dropdown-multiselect>
						</div>
					</div>
				</div>
			
				<div class="form-footer" ng-controller="searchController">
					<button type="button" class="search-button" ng-click="searchResult()">
						<i class="fa fa-search"></i> Search
					</button>
				</div>
			</div>
	</div>

	 <ng-include src="'templates/right-menu.html'"></ng-include>	
	<ng-include src="'templates/footer.html'"></ng-include>
</div>

