
<div>
    <h4 class="inner-head">Menteeship Opportunity</h4>
</div>

<p></p>
<div class="search-form">
    <form name="form">
        <div align="right">
            <button type="reset" value="Reset" ng-click="clearAll();">Clear All</button></div>

        <label>*Summary:</label>
        <div ng-class="{ 'has-error': form.jobDescription.$touched && form.jobDescription.$invalid}">
            <textarea class= "form-control" name="jobDescription" rows="3" maxlength="1000" ng-model='$parent.mentorSummary' placeholder="Enter Summary (characters limit is 1000)" required="" autofocus></textarea>
            <div class="help-block" ng-messages="form.jobDescription.$error" ng-if="form.jobDescription.$touched">
                <p ng-message="required">This field is required!</p>
            </div>
        </div>

        <p></p>

        <label>*Opportunity Description:</label>
        <div ng-class="{ 'has-error': form.oppDesc.$touched && form.oppDesc.$invalid}">
            <textarea class= "form-control" name="oppDesc" rows="3" maxlength="1000" ng-model='$parent.mentorOpportunityDescription' placeholder="Enter Description (characters limit is 1000)" required=""></textarea>
            <div class="help-block" ng-messages="form.oppDesc.$error" ng-if="form.oppDesc.$touched">
                <p ng-message="required">This field is required!</p>
            </div>
        </div>
        <p></p>
        <label>*Key Skills:</label>
        <div  ng-class="{
                    'has-error'
                    : $parent.skillMessage}"><selectize config='skillConfig' options='skillOptions' ng-model="$parent.keySkills"></selectize>


            <p ng-show="$parent.skillMessage" class="help-block">{{$parent.skillMessage}}</p>

        </div>


        <label>*Domain Interest:</label>
        <div  ng-class="{
                    'has-error'
                    :$parent.domainMessage}">
            <selectize config='itDomainsConfig' options='itDomainOptions' ng-model="$parent.itDomain"></selectize>
            <selectize config='nonItDomainsConfig' options='nonItDomainOptions' ng-model="$parent.nonItDomain"></selectize>
            <p ng-show="$parent.domainMessage" class="help-block">{{$parent.domainMessage}}</p>
        </div>
        <p></p>
        <p></p>


        <label>*Functional Interest:</label>
        <!--<dropdown-multiselect class="btn-alignment" name="functionInterest" model="selectedfunctionInterests" placeholder="Select IT Functions" options="functionInterests"></dropdown-multiselect>-->
        <div  ng-class="{
                    'has-error'
                    :$parent.interestMessage}">
            <selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="$parent.functionalInterest"></selectize>
            <p ng-show="$parent.interestMessage" class="help-block">{{$parent.interestMessage}}</p>
            <p></p>
        </div>
        <div class="field-separator"></div>

        <p></p>
        <div>
            <h4 class="inner-head">Mentee Eligibility Criteria</h4>

            <b ng-init="$parent.showBlock = true">*Add Qualification</b>
            <div ng-show="$parent.showBlock">

                <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major'></selectize>
                <p ng-show="$parent.majorMessage" class="msg-error">{{$parent.majorMessage}}</p>
                <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course'></selectize>
                <p ng-show="$parent.courseMessage" class="msg-error">{{$parent.courseMessage}}</p>
                <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream'></selectize>
                <p ng-show="$parent.streamMessage" class="msg-error">{{$parent.streamMessage}}</p>
                <input type="number" name="yop" class="form-control" placeholder="Enter Year of Passing" ng-model='$parent.yop'>
                <div ng-class="{ 'has-error': form.cgpaMin.$touched && form.cgpaMin.$invalid}">
                    <input type="number" class="form-control" ng-model='$parent.cgpaMin' placeholder="Min.CGPA" name="cgpaMin" pattern="(10|[1-9])">
                    <div class="help-block" ng-messages="form.cgpaMin.$error" ng-if="form.cgpaMin.$touched">
                        <!--<p ng-message="minlength">Password must contain 8 characters.</p>-->
                        <!--<p ng-message="required">Password is required.</p>-->
                        <P ng-message="pattern">Enter Valid CGPA.</p>
                    </div>
                </div>
                <div ng-class="{ 'has-error': form.perMin.$touched && form.perMin.$invalid}">
                    <input type="number" class="form-control" ng-model='$parent.percentageMin' placeholder="Min Percentage" name="perMin" pattern="(100|[1-9][0-9])">
                    <div class="help-block" ng-messages="form.perMin.$error" ng-if="form.perMin.$touched">
                        <!--<p ng-message="minlength">Password must contain 8 characters.</p>-->
                        <!--<p ng-message="required">Password is required.</p>-->
                        <P ng-message="pattern">Enter Valid Percentage.</p>
                    </div>
                </div><!--<a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock1 = true"/></a>Add-->
                <p></p>

            </div>
            <!--            <div ng-show="$parent.showBlock1">
                            <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major1'></selectize>
                            <p ng-show="$parent.majorMessage1" class="msg-error">{{$parent.majorMessage1}}</p>
                            <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course1'></selectize>
                            <p ng-show="$parent.courseMessage1" class="msg-error">{{$parent.courseMessage1}}</p>
                            <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream1'></selectize>
                            <p ng-show="$parent.streamMessage1" class="msg-error">{{$parent.streamMessage1}}</p>
                            <input type="number" name="yop" class="form-control" placeholder="Enter Year of Passing" ng-model='$parent.yop1'>
                            <input type="text" class="form-control" ng-model='$parent.cgpaMin1' placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model='$parent.percentageMin1' placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock1 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock2 = true"/></a>Add
                        </div><p></p>
            
                        <div ng-show="$parent.showBlock2">
                            <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major2'></selectize>
                            <p ng-show="$parent.majorMessage2" class="msg-error">{{$parent.majorMessage2}}</p>
                            <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course2'></selectize>
                            <p ng-show="$parent.courseMessage2" class="msg-error">{{$parent.courseMessage2}}</p>
                            <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream2'></selectize>
                            <p ng-show="$parent.streamMessage2" class="msg-error">{{$parent.streamMessage2}}</p>
                            <input type="number" name="yop" class="form-control" placeholder="Enter Year of Passing" ng-model='$parent.yop2'>
                            <input type="text" class="form-control" ng-model='$parent.cgpaMin2' placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model='$parent.percentageMin2' placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock2 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock3 = true"/></a>Add
                        </div><p></p>
            
                        <div ng-show="$parent.showBlock3">
                            <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major3'></selectize>
                            <p ng-show="$parent.majorMessage3" class="msg-error">{{$parent.majorMessage3}}</p>
                            <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course3'></selectize>
                            <p ng-show="$parent.courseMessage3" class="msg-error">{{$parent.courseMessage3}}</p>
                            <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream3'></selectize>
                            <p ng-show="$parent.streamMessage3" class="msg-error">{{$parent.streamMessage3}}</p>
                            <input type="number" name="yop" class="form-control" placeholder="Enter Year of Passing" ng-model='$parent.yop3'>
                            <input type="text" class="form-control" ng-model='$parent.cgpaMin3' placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model='$parent.percentageMin3' placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock3 = false"/></a>Remove <a href=""><img class="add right" src="images/add.png" ng-click="$parent.showBlock4 = true"/></a>Add
                        </div><p></p>
            
                        <div ng-show="$parent.showBlock4">
                            <selectize name="major" config='majorConfig' options='majorOptions' ng-model='$parent.major4'></selectize>
                            <p ng-show="$parent.majorMessage4" class="msg-error">{{$parent.majorMessage4}}</p>
                            <selectize name="course" config='courseConfig' options='courseOptions' ng-model='$parent.course4'></selectize>
                            <p ng-show="$parent.courseMessage4" class="msg-error">{{$parent.courseMessage4}}</p>
                            <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream4'></selectize>
                            <p ng-show="$parent.streamMessage4" class="msg-error">{{$parent.streamMessage4}}</p>
                            <input type="number" name="yop" class="form-control" placeholder="Enter Year of Passing" ng-model='$parent.yop4'>
                            <input type="text" class="form-control" ng-model='$parent.cgpaMin4' placeholder="Min.CGPA / Percentage" name="minGrade">
                            <input type="text" class="form-control" ng-model='$parent.percentageMin4' placeholder="Max.CGPA / Percentage" name="maxGrade"><a href=""><img class="add right" src="images/remove.png" ng-click="$parent.showBlock4 = false"/></a>Remove 
                        </div><p></p>-->

            <p></p>
        </div>



        <div>

            <div><label>*Institute Type:</label> &nbsp; &nbsp;


                <label style="font-weight: normal" ng-repeat="type in $parent.types">
                    <input
                        type="checkbox"
                        name="selectedTypes[]"
                        value="{{type.name}}"
                        ng-model="type.selected"
                        > {{type.name}}&nbsp;

                </label>
                <div class="has-error" ng-show="$parent.typesMessage">
                    <p ng-show="$parent.typesMessage" class="help-block">{{$parent.typesMessage}}</p>
                </div>
                <p></p>
            </div>
            <div class="form">
                <label>*Min. Experience:</label> 
                <div ng-class="{
                'has-error'
                    : form.minExp.$touched && for m.minExp.$invalid}">
                    <select class="form-control"  required name="minExp" ng-model='$parent.minExp'>
                        <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                        <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                        <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                        <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                        <option value="9">9 years</option><option value="10">10+ years</option>
                    </select>
                    <div class="help-block" ng-messages="form.minExp.$error" ng-if="form.minExp.$touched">
                        <p ng-message="required">Select Min Experience</p>
                    </div>

                </div>

                <label>*Max. Experience:</label> 
                <div ng-class="{
                'has-error': form.maxExp.$touched && for m.maxExp.$invalid}">
                    <select class="form-control"  required name="maxExp" ng-model='$parent.maxExp'>
                        <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                        <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                        <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                        <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                        <option value="9">9 years</option><option value="10">10+ years</option>
                    </select>
                    <div class="help-block" ng-messages="form.maxExp.$error" ng-if="form.maxExp.$touched">
                        <p ng-message="required">Select Max Experience</p>
                    </div>
                </div> 

            </div><p></p>
            <div><label>*Paid/Free:</label> &nbsp; &nbsp;
                <div ng-class="{
                'has-error': form.score.$touched && form.score.$invalid}">
                    <input type="radio" name="score" value="Paid" ng-model='$parent.paidOrFree' required> Paid &nbsp; &nbsp;
                    <input type="radio" name="score" value="Free" ng-model='$parent.paidOrFree' > Free</div>
                <div class="help-block" ng-messages="form.score.$error" ng-if="form.score.$touched">
                    <p ng-message="required">Select Paid/Free</p>
                </div>
                <p></p>
                <div class="field-separator"></div><p></p>

                <!--<div class="field-separator"></div>-->


                <input type="hidden" name="country" ng-model='$parent.type' ng-init="$parent.type = 'mentee'" value="Mentorship">


                <div class="form-footer">
                    <input type="submit" class="btn btn-primary"  value="Post Opportunity" ng-disabled="form.$invalid"  ng-click="$parent.addEduDetails();$parent.copyMentiOpportunity(); $parent.postOpportunity()"><!--ng-disabled="form.$invalid"-->
                    <!--<i class="fa fa-upload"></i>-->

                </div>	<p></p>				
            </div>
        </div>
    </form>
</div>





