<div>
			
				<label>*Opportunity Description:</label>
				<div  ng-class="{ 'has-error': form.jobDescription.$touched && form.jobDescription.$invalid}">
				<textarea class= "form-control" name="jobDescription" rows="3" maxlength="1000" ng-model='$parent.opportunityDescription' placeholder="Enter Job Description (characters limit is 1000)" required=""></textarea>
				<div class="help-block" ng-messages="form.jobDescription.$error" ng-if="form.jobDescription.$touched">
				<p ng-message="required">This field is required!</p>
				</div>
				</div>								
			</div>			
			<p></p>
			
			<div class="form-inline">
				<label>Start Date:</label>
				<input type="text" id="test"  style="width:140px;" name="lastDate" ng-model='$parent.startDate' class= "form-control" placeholder="e.g.01-Jan-1990"></input>
				<label>End Date:</label>
				<input type="text" id="test"  style="width:140px;" name="lastDate" ng-model='$parent.endDate' class= "form-control" placeholder="e.g.01-Jan-1990"></input>
			</div><p></p>
			
			<div>
				<label>Selection Process:</label>
				<textarea class= "form-control" name="selectionProcess" maxlength="1000" ng-model='$parent.selectionProcess' rows="3" placeholder="Enter selection process details (characters limit is 1000)"></textarea>
			</div>
			<p></p>
			<div class="form-inline">
				<label>Last Date To Apply:</label>
				<input type="text" id="test"  style="width:190px;" name="lastDate" ng-model='$parent.lastDateToApply' class= "form-control" placeholder="e.g.: 01-Jan-1990"></input>
				<p></p>
				<div class="field-separator"></div><p></p>
			</div>