
<div class="section" ng-controller="orgPostController" ng-init="showJob = true;type='job'">
    <div class="loading-spiner-holder" data-loading ></div>
    <div class="left-section left-section-inner">

        <ul class="nav-tabs nav-justified">
            <li><a href="" ng-click="type='job';showJob = true;showInternship = false;showResearch = False;showMentorship = false;clearAll();">Placement</a></li>
            <li><a href="" ng-click="type='internship';showInternship = true;showResearch = False;showMentorship = false;showJob = false;clearAll();">Internship</a></li>
            <li><a href="" ng-click="type='research';showResearch = true;showInternship = false;showMentorship = false;showJob = false;clearAll();">Research</a></li>
            <li><a href="" ng-click="showMentorship = true;showInternship = false;showJob = false;showResearch = false;clearAll();">Menteeship</a></li>
        </ul>


        <p></p>

        <div ng-show="showJob||showInternship||showResearch">
            <div ng-include src="'templates/org-post-job.html'"></div>
        </div>
<!--        <div ng-show="showInternship">
            <div ng-include src="'templates/org-post-internship.html'"></div>
        </div>
        <div ng-show="showResearch">
            <div ng-include src="'templates/org-post-research.html'"></div>
        </div>-->
        <div ng-show="showMentorship">
            <div ng-include src="'templates/org-post-mentorship.html'"></div>
        </div>


    </div>

    <ng-include src="'templates/right-menu.html'"></ng-include>	
<ng-include src="'templates/footer.html'"></ng-include>
</div>

