<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <title>Midas Fusion Privacy Policy</title>
        <link rel="icon" href="../images/midasfusion-small-logo.png" />

        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">

        <link rel="stylesheet" href="../css/main.css" type="text/css"/>

    </head>
    <body class="section">

        <div class="profile-card profile-section" style="text-align:justify">
            <div align="center"> <a href="http://www.midasblue.com" target="_blank"><img src="../images/midasblue-logo.png" alt="logo"></a></div>   
            <h2 align="center"><u>PRIVACY POLICY</u></h2>
            <p>We at Midas Blue are committed to protecting and safeguarding the privacy of Your Personal Information. Our privacy policy (“<b>Policy</b>”) set out below outlines how we collect, store or use Your Personal Information. “<b>Personal Information</b>” means any information that can be used to identify You and includes, but not limited to, general information like name, date of birth, phone number, address including email address, gender, occupation and  sensitive information which includes, but not limited to, credit or debit card details, bank account information, medical condition or sexual orientation. At Midas Blue, We do not collect sensitive or confidential Personal Information except in cases where You choose to do businesses with Us in which case We will seek Your financial information to complete the said business. 
            <p><b>What We Collect? </b>
            <p>When You visit Our website after accepting the TOU, We collect the following Personal Information:
                <br>     a)	Name, email, cell phone number, user name and a password  when You register with Our website  and create an account in Your name;
                <br>      b)	Academic and professional details such as education, employment history and relevant qualifications and interests if You choose to upload Your profile on Our website; 
                <br>      c)	Details such as the number of visits including the date and time of each visit, browser types, language preferences, location etc.; 
                <br>      d)	Financial information, in case You transact with Us, to the extent necessary to consummate the transactions such as Your credit or debit card details and bank account number as the case maybe; and
                <br>     e)	Such other information You may choose to share with Us.  
            <p><b> Why We Collect?</b>
            <p>a)	To manage and administer Our website; 
                <br>   b)	To understand Your preferences and accordingly provide You with a seamless  browsing experience;
                <br>   c)	To enable You to access the Materials and/or purchase Our Services;
                <br>   d)	To send You financial statements, invoices for Your purchases with Us;  
                <br>   e)	To send Midas Blue marketing materials/newsletters and email notifications pursuant to Your specific request ;
                <br>   f)	To share with third parties website user statistics without disclosing personally identifiable details; 
                <br>   g)	To address Your complaints, grievances, if any. 


            <p><b>  Cookies</b>
            <p>  We use cookies on this website to store and track browsing activity, generate statistics and improve navigation.  By accessing Our website, Your agree to the use of cookies in Our online interactions with You. 
            <p><b>  Your Rights</b>
            <p> You reserve the right to give Us instructions or directions on using Your Personal Information at the time of sharing Your Personal Information with Us. Subject to the caveats set out herein, We will endeavor to adhere to your instructions or directions while handling Personal Information. In case We are unable to follow Your instructions or directions, We will notify You, in writing, of any such inability. We will seek and obtain Your written consent in case We are required to use, handle or manage Your Personal Information in any manner other than as set forth in this Policy. 
            <p><b>  Mandatory Disclosure</b>
            <p> Notwithstanding anything to the contrary in this Policy or the TOU, Your Personal Information shall be disclosed or shared, without notice, in the following circumstances:
                <br> a)	Pursuant to a judicial or police enquiry or investigation;
                <br>  b)	In connection with any ongoing or prospective  legal proceedings; 
                <br> c)	To exercise Our legal rights and defend Midas Blue and/or Our licensors in the event of any claims associated with Your Personal Information;
                <br> d)	Pursuant to an acquisition, merger or amalgamation involving Midas Blue and/or Our assets. 
            <p>  We will endeavor, to the extent commercially and practically feasible, to notify You in advance in the event We are required to disclose Your Personal Information as stated above. However, You acknowledge and agree that Midas Blue will not be liable for any failure to provide such advance notifications in the event of the above mandatory disclosures. 
            <p><b>  Storage of Personal Information </b>
            <p>We have appropriate technical and organizational measures in place to prevent misuse, loss or alteration of Personal Information. While commercially reasonable endeavors are taken to ensure the safety and security of Your Personal Information, You acknowledge and agree that transmission of data over the web is inherently insecure and therefore We cannot guarantee the security of Your Personal Information at all times. 
            <p><b> Amendment</b>
            <p> We reserve the right to update this Policy at any time without notice. We encourage You to visit Our website regularly in order to familiarize Yourself with the most current version of the Policy.  

        </div>
    </body>
</html>
