<h1 class="button-back center" style="color: #fff"><strong><br>Refer Your Friends</strong></h1><br>
<div class="profile-card profile-section section" style="padding: 15px 15px 15px 15px;" ng-controller="BaseController">





    <!--<div class="col-md-1">-->
    <!--<div class="col-md-1">-->
    <strong>Please Enter Emails You Want To Refer:</strong>
    <!--</div>-->
    <!--<div class="col-md-1">-->
    <form name="form">
        <table><tr>
                <td>
                    <div  ng-class="{ 'has-error': form.uEmail.$touched && form.uEmail.$invalid}">
                        <input type="text" name="uEmail" class="form-control" title="example:abc@abc.com" placeholder="Enter your E-mail ID" ng-model="emailId" id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                        <div class="help-block" ng-messages="form.uEmail.$error" ng-if="form.uEmail.$touched">
                            <!--<p ng-message="required">Email Id is required.</p>-->
                            <p ng-message="email">Invalid Email Id.</p>
                            <p ng-message="pattern">Please enter an Email Id in format of characters@characters.domain.</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div>
                        <button  class="btn btn-primary" ng-click="addEmail();" ng-disabled="form.$invalid"  title="Please Enter Valid Email Id" value="Add"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Added Emails</label>
                    <ul>
                        <li ng-repeat="r in emailIds">
                            {{r}}<br>
                        </li>

                    </ul>

                </td>
            </tr>
        </table>
        <button  class="btn btn-primary" ng-click="sendEmails();" ng-show="hasEmails();"  title="Please Enter Valid Email Id" value="Add">Refer And Continue</button>
    </form>
    <div align="right">   <a  href="#/home"><button class="btn-sm btn-bitbucket">Skip</button></a></div>
    <!--</div>-->

    <!--</div>-->

    <div class="loading-spiner-holder" data-loading ></div>
</div>