<!-- template to display reset pass-->
<div class="section-signup">
    <div class="profile-section signup-card" name="userForm" ng-controller="resetpassController">
        <div class="loading-spiner-holder" data-loading ></div>			 
        <form name="form" >
            <br>
            <input type="password" id="pw1" name="pw1" stopccp style=" width: auto;margin: 0 auto; " title="Enter alpha-numeric password" placeholder="Enter New Password" ng-model="pw1" ng-minlength="8" pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control"  required="">

            <!--ng-pattern to set uppercase lowercase special character in password-->
            <div class="msg-error center" ng-messages="form.pw1.$error"  ng-if="form.pw1.$touched">
                <p ng-message="minlength">Password must contain 8 characters.</p>
                <p ng-message="required">Password is required.</p>
                <P ng-message="pattern">Password must contain atleast one number, one uppercase letter and one lowercase letter.</p>
            </div>	
            <br>
            

            <input type="password" id="pw2" stopccp style=" width: auto;margin: 0 auto; "  name="pw2" title="Confirm Password" placeholder="Re-type Password" ng-model="pw2" class="form-control" ng-required="" pw-check="pw1">
            <div class="msg-error center" ng-messages="form.pw2.$error" ng-if="form.pw2.$touched">
                <p ng-message="minlength">Password must contain 8 characters.</p>
                <p ng-message="required">Please confirm your Password.</p>
                <p class="msg-error" ng-show="form.pw2.$error.pwmatch">Passwords didn't match.</p>
            </div>
            <br>
            <br>
            <div class="center">
                <button type="submit" class="btn btn-bitbucket" ng-disabled="form.$invalid" ng-click="resetPass()">Reset Password</button>
            </div>
            <br>
        </form>
    </div>
      <ng-include src="'templates/footer.html'"></ng-include>
</div>