<div class=" right-section right-section-inner" ng-controller="MenuController" ng-init="submenu = false">
    <div class="loading-spiner-holder" data-loading ></div>
    <div class="profile-section profile-card right-section-box box-shadow">
        <p class="right-head first">Who's Viewed Your Profile</p>
        <p class="profile-viewed">Your profile has been viewed by {{user.profileViews||0}} people.</p>
        <div class="devider clear"></div>
        <div class="administrator-list">
            <ul>
                <li><a ng-click="selected = 'admin';changeClass();submenu = !submenu" ng-class="AdminSelected"  href="">Administration</a>
                    <ul ng-show="submenu">
                        <li><a  href="#/home/updatepass"><i class="fa fa-play"></i> Change Password</a></li>
                        <li ng-show="user.userType === 'student'"><a href="#/home/update-resume"><i class="fa fa-play"></i> Update Resume</a></li>
                        <li><a href="#/home/feedback"><i class="fa fa-play"></i> Feedback and Complaints</a></li>
                    </ul>
                </li>
                <!--<li><a ng-click="selected = 'profile';changeClass();getProfile();" ng-class="ProfileSelected">Profile</a></li>-->
                <li><a ng-click="selected = 'pf';changeClass();" ng-class="PersonalFolderSelected" href="#/home/personal-folders" data-toggle="modal" data-target="#myModal1">Personal Folders</a></li>
                <!--<li><a ng-click="selected = 'report';changeClass();" ng-class="ReportSelected" href="#">Reports</a></li>-->

                <li><a ng-click="selected = 'response';changeClass();" ng-class="ResponseSelected"  href="#/home/applied-opportunities">Applied Opportunities</a></li>
                <li><a ng-show="user.typeName" ng-click="selected = 'user';changeClass();" ng-class="UserSelected"  href="#/home/changeUserType">Switch User Type</a></li>
             
            </ul>
        </div>
        <!--        <div class="devider clear"></div>
                <p class="right-head">Opportunities You Might Be Interested In</p>
                <div class="designation selected">
                    <img src="images/hem-logo.jpg" alt="">
                    <p class="head"> Designation </p>
                    <p> Hem.com - Pune Area, India</p>
                    <img src="images/cross.png" class="cross" alt="">
                </div>
                <div class="designation">
                    <img src="images/hem-logo.jpg" alt="">
                    <p class="head"> Designation </p>
                    <p> Hem.com - Pune Area, India</p>
                    <img src="images/cross.png" class="cross" alt="">
                </div>
                <div class="designation">
                    <img src="images/hem-logo.jpg" alt="">
                    <p class="head"> Designation </p>
                    <p> Hem.com - Pune Area, India</p>
                    <img src="images/cross.png" class="cross" alt="">
                </div>
                <div class="designation">
                    <img src="images/hem-logo.jpg" alt="">
                    <p class="head"> Designation </p>
                    <p> Hem.com - Pune Area, India</p>
                    <img src="images/cross.png" class="cross" alt="">
                </div>-->
    </div>
</div>