
<div>
    <div class="loading-spiner-holder" data-loading ></div>
    <!-- heading of search type(campus recruitment,internship,research project)-->

    <div>
        <h4 class="inner-head" align="justify" class="panel-body">Search For Institutes</h4>
    </div>

    <div class="search-form">
        <form name="form" class="form-inline">

            <div align="right">
                <button type="button" class="search-button"  ng-click="searchInst()"><!--ng-disabled="form.$pristine"-->
                    <i class="fa fa-search"></i> Search
                </button></div><p></p>
            <div><label>Search For:</label>

                <select class="form-control" title="Select Job Interest" style="width:200px;height:30px;" name="jobType" ng-model="$parent.interestedIn">
                    <option selected="selected" value="-1" disabled selected>- Select an option -</option>
                    <option class="select-dash" disabled="disabled">---------------------------</option>
                    <option value="Placement">Placement</option>
                    <option value="Internship">Internship</option>
                    <option value="Research Project">Research Project</option>
                    <option value="Innovation Sponsorship">Innovation Sponsorship</option>
                    <option value="Guest Speaker">Guest Speaker</option>
                    <option value="Mentorship">Mentorship</option>
                    <option value="Event Sponsorship">Event Sponsorship</option>
                </select>

            </div>
            <p></p>
            <div class="field-separator"></div>

            <p></p>		

            <div>
                <div><label>Institute Type:</label> &nbsp; &nbsp;


                    <!--                    <label style="font-weight: normal" ng-repeat="type in $parent.types">
                                            <input
                                                type="checkbox"
                                                name="selectedTypes[]"
                                                value="{{type.name}}"
                                                ng-model="type.selected"
                                                > {{type.name}}&nbsp;
                    
                                        </label>-->
                    <input type="radio" name="type" value="Deemed university" ng-model="$parent.instType">Deemed university  &nbsp;
                    <input type="radio" name="type" value="Autonomous" ng-model="$parent.instType">Autonomous &nbsp;
                    <input type="radio" name="type" value="Others" ng-model="$parent.instType">Others
                </div>
                <p></p>
                <div class="field-separator"></div>
                <p></p>

                <div>
                    <label>Stream:</label>
                    <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream'></selectize>
                </div>
                <p></p>
                <div class="field-separator"></div>
                <p></p>

                <div>
                    <label>Location (Current/Preferred):</label>
                    <!--<div  ng-controller="dropdownController">-->
                    <selectize name="jobLocation" config='locationConfig' options='locationOptions' ng-model="$parent.jobLocation"></selectize>

                    <!--</div>-->
                </div>
                <!--</div>-->


                <p></p>
                <div class="field-separator"></div>
                <p></p>

                <div class="form-footer">
                    <button type="button" class="search-button"  ng-click="searchInst()"><!--ng-disabled="form.$pristine"-->
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>	<p></p>	

            </div>		
        </form>

    </div>
</div>

