
<div>
    <div class="loading-spiner-holder" data-loading ></div>
    <!-- heading of search type(campus recruitment,internship,research project)-->


    <div>
        <h4 class="inner-head" align="justify" class="panel-body">Search For Mentors</h4>
    </div>

    <div class="search-form">
        <form name="form" class="form-inline">
            <div align="right">
                <button type="button" class="search-button"  ng-click=" searchMentors()"><!--ng-disabled="form.$pristine"-->
                    <i class="fa fa-search"></i> Search
                </button></div><p></p>
            <div><label>Search For:</label>

                <select class="form-control" title="- Select an option -" style="width:200px;height:30px;" name="jobType" ng-model="$parent.jobInterest">
                    <option selected="selected" value="-1" disabled selected>- Select an option -</option>
                    <option class="select-dash" disabled="disabled">---------------------------</option>
                    <option value="Placement">Placement</option>
                    <option value="Internship">Internship</option>
                    <option value="Research Project">Research Project</option>
                    <option value="Innovation Sponsorship">Innovation Sponsorship</option>
                    <option value="Guest Speaker">Guest Speaker</option>
                    <option value="Mentorship">Mentorship</option>
                    <option value="SME Consultation">SME Consultation</option>
                </select>

            </div>
            <p></p>
            <div class="field-separator"></div>

            <p></p>
            <div><label>Any Keywords:</label>&nbsp;

                <input type="text" class="form-control"  style="width: 348px" placeholder="Skills, Technologies etc." ng-model="$parent.anyKeyword" title = "This will search for any of the entered keywords">
            </div>
            <p></p>
            <div><label>All Keywords:</label>&nbsp;&nbsp;&nbsp;

                <input type="text" class="form-control"  style="width: 348px"  placeholder="Skills, Technologies etc." ng-model="$parent.allKeyword" title = "This will search for all entered keywords">
            </div>
            <p></p>
            <div><label>Skip Keywords:</label>

                <input type="text" class="form-control"  style="width: 348px"  placeholder="Skills, Technologies etc." ng-model="$parent.exKeyword" title = "This will exclude the entered keywords in search">
            </div>
            <p></p>

            <div class="field-separator"></div>
            <p></p>
            <div>
                <label for="domain">Domain Interest:</label>


                    <selectize config='domainsConfig' options='domainOptions' ng-model="$parent.domain"></selectize>
                    <div class="has-error" ng-show="$parent.domainMessage" ><p class="help-block">{{$parent.domainMessage}}</p>

            </div>
            <p></p>
            <div class="field-separator"></div>
            <p></p>

            <div>
                <label>Functional Interest:</label>
                <selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="$parent.functionalInterest"></selectize>

            </div>
            <p></p>
            <div class="field-separator"></div>
            <p></p>

            <div>
                <label>Field of Study:</label>
                <selectize name="stream" config='streamConfig' options='streamOptions' ng-model='$parent.stream'></selectize>

            </div>
            <p></p>
            <div class="field-separator"></div>
            <p></p>

            <div>
                <label>Location:</label>
                <!--<div  ng-controller="dropdownController">-->
                <selectize name="jobLocation" config='locationConfig' options='locationOptions' ng-model="$parent.jobLocation"></selectize>

                <!--</div>-->
            </div>
            <!--</div>-->


            <p></p>
            <div class="field-separator"></div>
            <p></p>

            <div>
                <div>
                    <div><label>Experience:</label></div>
                    <label> Min. :</label>

                    <input type="number" class="form-control" style="width:100px;" ng-model="$parent.minExp">

                    <label> Max. :</label>

                    <input type="number"  class="form-control" style="width:100px;" ng-model="$parent.maxExp"><p></p>
                    <div class="field-separator"></div>
                    <p></p>


                </div>

                <p></p>	


                <div class="form-footer">
                    <button type="button" class="search-button" ng-click="searchMentors()"><!--ng-disabled="form.$pristine"-->
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>	<p></p>	

            </div>		
        </form>

    </div>
</div>

