<div ng-controller="MatchingOpportunitiesController">
<div class="loading-spiner-holder" data-loading ></div>
<div class="section">
	<div class="left-section left-section-inner">
		<div class="profile-section profile-card bs-example">
			
				
					
					
						<div class="acc-tables">
							<h4>Matching Opportunities<!-- <span class="close">X</span><a class="view-all-candi" href="">View All Candidates</a>--></h4>
							<p></p>
							<!--<div class="bottom-btns">
								<a class="btn btn-warning btn-sm" role="button" href="#/home/email-template/write-template"><i class="fa fa-pencil"></i> Write New Template</a>
								<!--<button ng-click="addRow()" class="btn btn-warning btn-sm">Add Template</button>
								<button ng-click="sendMail()" class="btn btn-warning btn-sm">Send Mail</button>
								<!--<button ng-click="selectionAlert()">Send Email</button>
							</div>-->
							
							
							
							<div class="table-responsive">
							<table class="table table-bordered table-striped"  ng-table="tableParams" >
							
							
								<tr ng-repeat = "oppor in $data" class="center">
								   
									
									<td title="'Summary'"  sortable="'summary'">{{oppor.summary}}</td>
									<td title="'Posted On'" sortable="'postedDate'">{{getDateFormat(oppor.postedDate) | date:'dd-MMM-yyyy'}}</td>
									<td title="'Type'"  sortable="'opportunityType'">{{oppor.opportunityType}}</td>
									<td  title="'Posted By'" >{{oppor.ownerName}}</td>
                                                                        <td title="'Actions'"><button class="btn btn-success"  ng-click="action(oppor);">View Details</button></td>
<!--									<td class="center">
									<a><i class="fa fa-eye" ng-click="sendSearch(search.searchUrl)" title="View/Edit" role="button"></i></a>
									<a role="button" href="#/home/saved-search"><i class="fa fa-trash-o" ng-click="deleteSearch(search.id)" title="Delete" role="button"></i></a>
									
									</td>-->
								
								</tr>
							
							</table>
                                                        </div>
							<div class="bottom-btns">
								<a class="btn btn-danger" role="button" href="#/home/dashboard"><i class="fa fa-times"></i> Close</a>
							</div>
						</div>
						
		</div>
		
	</div>
	
 
									
	 <ng-include src="'templates/right-menu.html'"></ng-include>	
	 <ng-include src="'templates/footer.html'"></ng-include>	
        
</div>

</div>