<div class="banner">
    <div id="myCarousel" class="carousel slide box-shadow">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/banner.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="images/banner.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="images/banner.jpg" alt="Third slide">
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="section">
    <div class="left-section">
        <h1><span>What’s Benifits</span> for YOU?</h1>
        <div class="three-panels">
            <h2>organisations</h2>
            <div><img src="images/organizations.jpg" alt=""></div>
            <p>Ac aliquam pid amet, lorem eu, etiam ultrices, egestas. Et porttitor a, lacus egestas est rhoncus, egestas amet facilisis augue pellentesque. Nec? Velit tristique. Proin facilisis porta porttitor in tortor vel</p>
            <p class="right"><a class="readmore" href="">Read More</a></p>
        </div>
        <div class="three-panels">
            <h2>education institutes</h2>
            <div><img src="images/education-institutes.jpg" alt=""></div>
            <p>Ac aliquam pid amet, lorem eu, etiam ultrices, egestas. Et porttitor a, lacus egestas est rhoncus, egestas amet facilisis augue pellentesque. Nec? Velit tristique. Proin facilisis porta porttitor in tortor vel</p>
            <p class="right"><a class="readmore" href="">Read More</a></p>
        </div>
        <div class="three-panels right-zero">
            <h2>Students</h2>
            <div><img src="images/students.jpg" alt=""></div>
            <p>Ac aliquam pid amet, lorem eu, etiam ultrices, egestas. Et porttitor a, lacus egestas est rhoncus, egestas amet facilisis augue pellentesque. Nec? Velit tristique. Proin facilisis porta porttitor in tortor vel</p>
            <p class="right"><a class="readmore" href="">Read More</a></p>
        </div>
        <div class="devider clear"></div>
        <h1>WHAT WE DO <span>FOR YOU</span></h1>
        <p class="for-you">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta <br> posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed </p>
        <div class="text-banner">
            <div id="myCarousela" class="carousel slide text-slide">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousela" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousela" data-slide-to="1"></li>
                    <li data-target="#myCarousela" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <h3>WHAT OUR <span>CLIENTS SAY</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elementum neque. Suspendisse at ex urna. Cras tellus ipsum, ultricies a enim eu, bibendum rhoncus diam. Duis non augue convallis, tincidunt nisl sed, congue tortor. Proin sit amet sapien ipsum. Aliquam eget nibh a leo eleifend vulputate at eu dolor. Duis varius, felis at pretium tristique, augue magna pellentesque felis, vitae congue leo lacus nec nibh. Mauris placerat lobortis placerat.</p>
                        <p class="chief">Chief Technology Officer</p>
                    </div>
                    <div class="item">
                        <h3>WHAT OUR <span>CLIENTS SAY</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elementum neque. Suspendisse at ex urna. Cras tellus ipsum, ultricies a enim eu, bibendum rhoncus diam. Duis non augue convallis, tincidunt nisl sed, congue tortor. Proin sit amet sapien ipsum. Aliquam eget nibh a leo eleifend vulputate at eu dolor. Duis varius, felis at pretium tristique, augue magna pellentesque felis, vitae congue leo lacus nec nibh. Mauris placerat lobortis placerat.</p>
                        <p class="chief">Chief Technology Officer</p>
                    </div>
                    <div class="item">
                        <h3>WHAT OUR <span>CLIENTS SAY</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elementum neque. Suspendisse at ex urna. Cras tellus ipsum, ultricies a enim eu, bibendum rhoncus diam. Duis non augue convallis, tincidunt nisl sed, congue tortor. Proin sit amet sapien ipsum. Aliquam eget nibh a leo eleifend vulputate at eu dolor. Duis varius, felis at pretium tristique, augue magna pellentesque felis, vitae congue leo lacus nec nibh. Mauris placerat lobortis placerat.</p>
                        <p class="chief">Chief Technology Officer</p>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="small-head"><span></span>updates</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero. </p>
    </div>
     <ng-include src="'templates/right-menu.html'"></ng-include>	
   <ng-include src="'templates/footer.html'"></ng-include>
</div>