<div ng-controller="InstPostController">
<div class="loading-spiner-holder" data-loading ></div>
    <div>
        <h4 class="inner-head">Guest Speaker</h4>
    </div>

    <p></p>
    <div class="search-form">

        <form name="form">
             <div align="right">
                    <button type="reset" value="Reset" ng-click="clearAll();">Clear All</button></div><p></p>
            <label>*Lecture Topic:</label>
            <div ng-class="{ 'has-error': form.jobDescription.$touched && form.jobDescription.$invalid}">
                <input class= "form-control" name="jobDescription" rows="5" cols="2" ng-model="topic" placeholder="Enter Topic" required="">
                <div class="help-block" ng-messages="form.jobDescription.$error" ng-if="form.jobDescription.$touched">
                    <p ng-message="required">This field is required!</p>
                </div>
            </div>

            <p></p>

            <div>
                <label>*Event Date:</label>
                <div class="row">

                    <div class="col-md-12">
                        <div  ng-class="{
                                    'has-error'
                                    : eventDateMessage}">
                            <p class="input-group">
                                <input type="text" name="eventDate" ng-model='eventDate' class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>

                            <p class="help-block" ng-show="eventDateMessage" >Event Date is Required!</p>

                        </div>

                    </div>
                </div>
                <p></p>

            </div>
            <div class="form">



                <label>*Min. Experience:</label>
                <div ng-class="{
                'has-error': form.minExp.$touched && form.minExp.$invalid}">
                    <select class="form-inline form-control" name="minExp" ng-model="minExp" required>
                        <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                        <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                        <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                        <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                        <option value="9">9 years</option><option value="10">10+ years</option>
                    </select>
                    <div class="help-block" ng-messages="form.minExp.$error" ng-if="form.minExp.$touched">
                        <p ng-message="required">Select Min Experience</p>
                    </div>

                </div>
                <label>*Max. Experience:</label>
                <div ng-class="{
                'has-error': form.maxExp.$touched && form.maxExp.$invalid}">
                    <select class="form-inline form-control"  name="maxExp" ng-model="maxExp" required>
                        <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                        <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                        <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                        <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                        <option value="9">9 years</option><option value="10">10+ years</option>
                    </select>
                    <div class="help-block" ng-messages="form.maxExp.$error" ng-if="form.maxExp.$touched">
                        <p ng-message="required">Select Max Experience</p>
                    </div>
                </div> 

            </div><p></p>
            <div class="field-separator"></div><p><p>

                <label>*Keyskills:</label> <selectize config='skillConfig' options='skillOptions' ng-model="keySkills"></selectize>
            <div class="has-error" ng-show="skillMessage" ><p class="help-block">{{skillMessage}}</p>
                <p></p></div>
            <p></p>
            <p></p>

            <div ng-include src="'templates/Part3.html'"></div>
            <input type="hidden" name="country" ng-model='type' ng-init="type = 'Guest'" value="Job">
            <div class="form-footer">
                <input type="submit" class="btn btn-primary"  value="Post Opportunity" ng-disabled="form.$invalid" ng-click="copyGuestOpportunity(); postEventOpportunity()"><!---->
                <!--<i class="fa fa-upload"></i>-->

            </div>	<p></p>	
        </form>
    </div>

</div>

