<div class="section" ng-controller="EditOpportunityController">
    <div class="loading-spiner-holder" data-loading ></div>
    <!--ng-submit="postOpportunity(form.$valid)"-->
    <div class="left-section left-section-inner">

        <div >
            <form name="form" role="form"> 
                <div>
                    <h4 class="inner-head">Guest Speaker</h4>
                </div>

                <p></p>
                <div class="search-form">


                    <label>*Lecture Topic:</label>
                    <div ng-class="{ 'has-error': form.positionName.$touched && form.positionName.$invalid}">
                        <input class= "form-control" name="positionName" rows="5" maxlength="1000" cols="2" ng-model="opp.summary" placeholder="Enter Topic" required="">
                        <div class="help-block" ng-messages="form.positionName.$error" ng-if="form.positionName.$touched">
                            <p ng-message="required">This field is required!</p>
                        </div>
                    </div>

                    <p></p>

                    <div>
                        <label>*Event Date:</label>
                        <div class="row">

                            <div class="col-md-12">
                                <div  ng-class="{
                                    'has-error'
                                    : eventDateMessage}">
                                    <p class="input-group">
                                        <input type="text" name="eventDate" ng-model='opp.date' class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>

                                    <p class="help-block" ng-show="eventDateMessage" >Event Date is Required!</p>

                                </div>

                            </div>
                        </div>
                        <p></p>

                    </div>

                    <div class="form-inline">



                        <label>*Min. Experience:</label>&nbsp;
                        <div ng-class="{'has-error': form.minExp.$touched && form.minExp.$invalid}">
                            <select class="form-inline form-control" style="width:100px;" name="minExp" ng-model="opp.minExp">
                                <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                                <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                                <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                                <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                                <option value="9">9 years</option><option value="10">10 years</option><option value="15">15 years</option>
                                <option value="20">20 years</option><option value="25">25 years</option>
                            </select>
                            <div class="help-block" ng-messages="form.minExp.$error" ng-if="form.minExp.$touched">
                                <p ng-message="required">Select Min Experience</p>
                            </div>

                        </div>
                        <label>*Max. Experience:</label>&nbsp;
                        <div ng-class="{'has-error': form.maxExp.$touched && form.maxExp.$invalid}">
                            <select class="form-inline form-control" style="width:100px;" name="maxExp" ng-model="opp.maxExp">
                                <option selected="selected" value="-1" disabled selected>- Select Experience -</option>
                                <option value="0">0 year</option><option value="1">1 year</option><option value="2">2 years</option>
                                <option value="3">3 years</option><option value="4">4 years</option><option value="5">5 years</option>
                                <option value="6">6 years</option><option value="7">7 years</option><option value="8">8 years</option>
                                <option value="9">9 years</option><option value="10">10 years</option><option value="15">15 years</option>
                                <option value="20">20 years</option><option value="25">25 years</option>
                            </select>
                            <div class="help-block" ng-messages="form.maxExp.$error" ng-if="form.maxExp.$touched">
                                <p ng-message="required">Select Max Experience</p>
                            </div>
                        </div> 

                    </div><p></p>
                    <div class="field-separator"></div><p><p>

                        <label>*Keyskills:</label> 
                    <selectize config='skillConfig' options='skillOptions' ng-model="opp.keySkills"></selectize>
                    <!--<p class="msg-error">{{skillMessage}}</p>-->
                    <div class="has-error" ng-show="skillMessage" ><p class="help-block">{{skillMessage}}</p>
                        <p></p></div>
                    <p></p>
                    <p></p>

                    <div class="form-inline">
                        <label>*Domain Interest:</label>

                        <selectize config='domainsConfig' options='domainOptions' ng-model="opp.domainInterest"></selectize>
                        <div class="has-error" ng-show="$parent.domainMessage" ><p class="help-block">{{$parent.domainMessage}}</p>
                            <p></p></div>
                        <p></p>


                        <label>*Functional Interest:</label>
                        <!--<dropdown-multiselect class="btn-alignment" name="functionInterest" model="selectedfunctionInterests" placeholder="Select IT Functions" options="functionInterests"></dropdown-multiselect>-->
                        <selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="opp.functionInterest"></selectize>
                        <div class="has-error" ng-show="interestMessage" ><p class="help-block">{{interestMessage}}</p>
                            <p></p></div>
                        <p></p>
                        <div class="field-separator"></div>

                        <p></p>

                        <p></p>
                        <div><label>*Paid/Free:</label> &nbsp; &nbsp;

                            <input type="radio" name="score" value="Paid" ng-model="opp.paidOrFree"> Paid &nbsp; &nbsp;
                            <input type="radio" name="score" value="Free" ng-model='opp.paidOrFree'> Free</div>
                        <p></p>

                        <div><label>Offerings:</label>
                            <label style="font-weight: normal" ng-repeat="offer in offers">
                                &nbsp;
                                <input
                                    type="checkbox"
                                    name="selectedOffers[]"
                                    value="{{offer.name}}"
                                    ng-model="offer.selected"
                                    > {{offer.name}}

                            </label>	
                            <p></p>


                        </div>
                        <p></p>


                    </div>

                    <div class="form-footer">
                        <input type="submit" class="btn btn-primary" ng-show="opp.action === 'edit'" ng-disabled="form.$invalid" value="Update Opportunity" ng-click="EditOpportunity()"><!--ng-disabled="form.$invalid"-->
                        <input type="submit" class="btn btn-primary" ng-show="opp.action === 'copy'" ng-disabled="form.$invalid"  value="Post Opportunity" ng-click="PostNewOpportunity()"><!--ng-disabled="form.$invalid"-->
                        <input type="button" class="btn btn-danger" ng-click="back()" value="Back"><!--ng-disabled="form.$invalid"-->

                        <!--<i class="fa fa-upload"></i>-->
                        </input>
                    </div>	<p></p>	
                </div>
            </form>
        </div>
    </div>
    <ng-include src="'templates/right-menu.html'"></ng-include>	
    <ng-include src="'templates/footer.html'"></ng-include>
</div>
