
<div class="section">
    <div class="left-section left-section-inner">

        <div align="center">
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm = true;showForm1 = false" style="width: 2em; height: 1em;"><label>Profile Search</label>&nbsp;&nbsp;
            <input type="radio" name="searchType" value="searchType"  ng-click="showForm1 = true;showForm = false" style="width: 2em; height: 1em;"><label>Opportunity Search</label>
        </div><p></p>

        <div ng-show="showForm">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-click="showOrg = true;showMentor = false;showInstitute = false">Search Organization</a></li>
                <li><a href="" ng-click="showMentor = true;showOrg = false;showInstitute = false">Search Mentor</a></li>
                <li><a href="" ng-click="showInstitute = true;showOrg = false;showMentor = false">Search Institute</a></li>
            </ul>


            <p></p>

            <div ng-show="showOrg">
                <div ng-include src="'templates/inst-search-org.html'"></div>
            </div>
            <div ng-show="showMentor">
                <div ng-include src="'templates/org-search-mentor.html'"></div>
            </div>
            <div ng-show="showInstitute">
                <div ng-include src="'templates/org-search-institutes.html'"></div>
            </div>

        </div>	
        <div ng-show="showForm1">
            <ul class="nav-tabs nav-justified">
                <li><a href="" ng-model="type" ng-click="type = 'job';showJob = true;showEvent = false;showMentee = false">Job</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'internship';showJob = true;showEvent = false;showMentee = false">Internship</a></li>
                <li><a href="" ng-model="type" ng-click="type = 'research';showJob = true;showEvent = false;showMentee = false">Research</a></li>

                <li><a href="" ng-click="showEvent = true;
                    showJob = false;
                    showMentee = false">Events</a></li>

                <li><a href="" ng-model="type" ng-click="type = 'mentee';showMentee = true;showEvent = false;showJob = false">Mentee Opportunities</a></li>


            </ul>
            <div ng-show="showJob">
                <div ng-include src="'templates/stud-search-opp.html'"></div>
            </div>
            <div ng-show="showEvent">
                <div ng-include src="'templates/org-search-event.html'"></div>
            </div>

            <div ng-show="showMentee">
                <div ng-include src="'templates/mentee-search.html'"></div>


            </div>
        </div>
    </div>

    <ng-include src="'templates/right-menu.html'"></ng-include>	

   <ng-include src="'templates/footer.html'"></ng-include>
</div>

