<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <title>Terms of Use</title>
        <link rel="icon" href="../images/midasfusion-small-logo.png" />

        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">

        <link rel="stylesheet" href="../css/main.css" type="text/css"/>

    </head>
     <body class="section">
<div class="profile-card profile-section" style="text-align:justify">
    <div align="center"> <a href="http://www.midasblue.com" target="_blank"><img src="../images/midasblue-logo.png" alt="logo"></a></div>
    <h2 align="center">Website Terms of Use</h2>
<h3>Preamble</h3>
<p>The terms of use (“<b>TOU</b>”) set out below govern Midas Blue’s relationship with You in relation to this website, owned and operated by Midas Blue which expression shall include its employees, directors and affiliates, if any. The following TOU together with Our privacy policy constitute a legally binding agreement between Midas Blue and You. These TOU apply to any documents, applications, information, products, software or tools (collectively referred to as the “<b>Materials</b>”) available on this website and any services (“<b>Services</b>”) offered by Us.</p>

    <p>If You do not agree with any of these TOU and/or You have not attained legal majority under applicable laws, You shall refrain from using Our website. Use or access of Our website, the Materials and/or the Services on this website by You will constitute acceptance of the TOU by you.</p>
    
    <p>The terms “<b>Us</b>” or “<b>We</b>” or “<b>Our</b>” refer to Midas Blue whose registered office is P3-304, Pentagon, Magarpatta City, Hadapsar, Pune 411028. Our company registration number is [1631000310662009]. The term “<b>You</b>” or “<b>Your</b>” refers to the user or viewer of Our website.</p>
<h3>Ownership</h3>

<p>Unless otherwise stated, all Intellectual Property Rights in and to this website including the Materials and/or Services available on this website shall vest with Midas Blue and/or Our licensors.  “<b>Intellectual Property Rights</b>” means any and all tangible and intangible: (i) rights associated with works of authorship, including copyrights, moral rights and derivative works thereof, (ii) trademark, trade name and trade secret rights (iii)  patents, design rights and other industrial property rights, and (v) all other Intellectual Property Rights, however designated, whether arising by operation of law, contract or otherwise. </p>

<p>We grant You a non-transferable, non-sublicensable, revocable license to use the website and access the Materials and/or procure the Services on the website strictly in accordance with these TOU.</p>

<h3><b>Acceptable Use and Restrictions</b></h3>

<p>You may use or access this website for general browsing activities, seeking information on the Materials and/or Services available or provided by Midas Blue or posting Your curriculum vitae so that we may contact You. Should You want to copy or download any Materials on the website, please ensure that You do so strictly in accordance with these TOU and our <a href="copyright.html"><b>Copyright Notice</b></a> . Generally We permit copying or downloading of the Materials for educational or research purposes only subject to appropriate authorizations and acknowledgements as mentioned in Our Copyright Notice. You shall also refrain from the following prohibited activities while using the website:</p>

<p>•	Using this website in any manner that causes or may cause damage to the website or impairment to the accessibility or availabity of the website or for any purpose which is unlawful, fraudulent or generally harmful;</p>

<p>•	Transmitting or storing or publishing of any material comprising any malicious or harmful software, spyware, viruses such as Trojan horse, worms, time bombs etc.;</p>

<p>•	Transmitting or storing or publishing any obscene or pornographic content,  any materials or messages promoting malice, hatred or violence;</p>

<p>•	Transmitting or sending any unsolicited communications, commercial or otherwise;</p> 

<p>•	Unauthorized data collection or migration activities, promotional or marketing activities.</p>

<p>Any indulgence on Your side in the prohibited activities above will constitute a breach of these TOU that may invite appropriate legal sanctions.</p> 

<h3>Links to Third Party Sites</h3>
<p>From time to time, Our website may include links to external websites owned or operated by third parties. These links are provided for your convenience only to provide further information. They do not constitute any endorsement by Us of such external websites and We categorically disclaim responsibility for the content of such sites. If You choose to access any third party sites through Our website, You do so subject to the terms and conditions, if any, of such third party sites.</p>
<h3>Collection of Personal Information</h3>
<p>We encourage you to review our <a href="privacypolicy.html"><b>Privacy Policy</b></a>  to understand and analyse how we collect, store and process Your Personal Information and safeguard the privacy of Your Personal Information.</p>
<h3>No Warranties</h3>
<p>This website is provided on an “as is” basis without any representations or warranties, express or implied.  While reasonable efforts have been made to maintain the accuracy of Materials and/or Services on this website, We do not provide any warranty or guarantee as to the accuracy, performance, completeness or suitability of the Materials and/or Services on this website for any particular purpose. You acknowledge that the Materials and/or Services may contain inaccuracies or errors and We expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. Your use of any information or Materials or Services on this website is entirely at Your own risk, for which We shall not be liable. It shall be Your sole responsibility to ensure that any Materials and/or Services available on this website meet Your specific requirements.</p>
<p>Nothing on this website constitutes or is meant to constitute advice of any kind.  If You require advice of any kind, we encourage You to reach out to an appropriate professional consultant including any consultant(s) that may be authorized by Us in writing from time to time. For the avoidance of doubt, any advice rendered by Our authorized consultant, in addition to these TOU, may be subject to additional terms and conditions as well.</p> 


<h3>Limitations of liability and Exceptions</h3>

<p>EXCAPT AS EXPRESSELY STATED HEREIN, IN NO EVENT SHALL MIDAS BLUE, OUR LICENSORS, SUPPLIERS OR ANY THIRD PARTIES ASSOCIATED WITH THIS WEBSITE BE LIABLE FOR ANY INCIDENTAL, INDIRECT, EXEMPLARY, PUNITIVE AND CONSEQUENTIAL DAMAGES, LOST PROFITS OR DAMAGES RESULTING FROM LOST DATA, LOSS OF REPUTATION OR GOODWILL OR BUSINESS INTERRUPTION RESULTING FROM THE USE OF OR INABILITY TO USE THE WEBSITE. FOR THE AVOIDANCE OF DOUBT, HOWEVER, THE FOREGOING LIMITATIONS WILL NOT APPLY TO ANY LIABILITIES ASSOCIATED WITH DEATH OR PERSONAL INJURY ARISING OUT OF OUR NEGLIGENCE, ANY THIRD PARTY CLAIMS FOR INTELLECTUAL PROPERTY INFRINGEMENT, FRAUD, WILFULL MISCONDUCT OR ANY OTHER LIABILITY THAT CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAWS.</p>


<h3>Compliance with Laws</h3>

<p>You agree to use the website in strict compliance with all applicable laws and regulations including export control laws of the country in which You are based. If the laws or regulations applicable to You prohibit or restrict the downloading or copying of the Materials, You shall desist from doing so or download or copy subject to those restrictions. You shall at all times use Our website in such manner as not to expose Midas Blue to violation of applicable laws and regulations in a relevant jurisdiction.</p> 

<h3>Breaches</h3>

<p>You acknowledge and agree that if You breach these TOU, we reserve the right to adopt such corrective actions as may be deemed appropriate to deal with the breach including but not limited to suspending or prohibiting Your access to the website, blocking computers using Your IP address from accessing the website and/or initiating legal proceedings against You. The foregoing is without prejudice to any other rights available to Us under these TOU and at law.</p> 

<h3>Amendment</h3>

<p>You acknowledge and agree that Midas Blue may revise these TOU from time to time without prior notice.  Revised TOU will apply to the use of this website from the date of the publication of such revised TOU on this website.  Please check this page regularly to ensure You stay up-to-date with the latest version.</p>

<h3>Assignment and Novation</h3>

<p>Midas Blue may assign, transfer, novate or otherwise deal with Our rights and/or obligations hereunder without prior notice.
You may not assign, transfer, novate or otherwise deal with Your rights and/or obligations except as expressly set out in these TOU.</p>

<h3>Severability</h3>

<p>If a provision of these TOU is determined by any court or other competent legal authority to be unlawful and/or unenforceable, that part will be deemed to be deleted and the rest of the provisions will continue in effect.</p>

<h3>Entire Agreement</h3>

<p>These TOU together with Our Privacy Policy constitute the entire agreement between You and Midas Blue in relation to Your use of this website and supersede all previous agreements in respect of Your use of this website.</p> 

<h3>Governing Law and Jurisdiction</h3>

<p>These TOU will be governed by and construed in accordance with the laws of India and any disputes arising out of these TOU will be subject to the exclusive jurisdiction of the courts of Pune.</p>
    
</div>
</body>
</html>
