<div class="section reg-form" ng-controller="UpdateProfileController" ng-init="init('Mentor')">
    <div class="loading-spiner-holder" data-loading ></div>
    <h1>Mentor Profile</h1>
    <h2 class="inner-head">Login Details</h2> 
    <form name="form" ng-submit="submitProfileForm(form.$valid)" role="form" >

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-5"><label>*Username:</label></div>
                <div class="col-md-7"><input type="text" name="uEmail" class="form-control" placeholder="Enter your E-mail ID" ng-model="user.emailId" disabled>
                    <div ng-show="form.$submitted || form.uEmail.$touched">
                        <span class="field-alert" ng-show="form.uEmail.$error.required">
                            This field is required!
                        </span>
                        <span class="field-alert" ng-show="form.uEmail.$error.email">
                            This not a valid email.
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="user.yearsOfExperience>=5" class="col-md-6">
                <div class="col-md-5"><label>Do You Want To Change Your Type?</label></div>
                <div class="col-md-7">
                    <select class="form-control" name=""  ng-model="user.userType" required="">
                        <option value="" disabled >Change Type</option>
                        <option value="mentor">Mentor</option>
                        <option value="student">Student</option>
                    </select>
                </div>
            </div>
        </div>


        <h2 class="inner-head">Contact Information<a href = "" ng-model= "showContactInfo" ng-click="showContactInfo = !showContactInfo"> <i class="fa fa-edit"></i> Edit </a></h2> 
        <div ng-show = "showContactInfo">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>*Name:</label></div>
                    <div class="col-md-7"><input type="text" class="form-control" only-alpha placeholder="First Name" ng-model="user.firstName" name="name"  required="">
                        <div ng-show="form.$submitted || form.name.$touched">
                            <span class="msg-error" ng-show="form.name.$error.required">
                                This field is required!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-7"><input type="text" only-alpha class="form-control" placeholder="Last Name" ng-model="user.lastName" name="uLName" required="">
                        <div ng-show="form.$submitted || form.uLName.$touched">
                            <span class="field-alert" ng-show="form.uLName.$error.required">
                                This field is required!
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>*Gender:</label></div>
                    <div class="col-md-7"><label>
                            <input type="radio" name="optradio1" value="Male" ng-model="user.gender" required="">Male</label> &nbsp;&nbsp; 
                        <label><input type="radio" name="optradio1" value="Female"  ng-model="user.gender" required="">Female</label>
                        <div ng-show="form.$submitted || form.optradio1.$touched">
                            <span class="field-alert" ng-show="form.optradio1.$error.required">
                                This field is required!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-5"><label>*Contact Number:</label></div>
                    <div class="col-md-7"><input type="text" only-phone min ="0" maxlength="17" pattern="(^\+?(?:[0-9] ?){6,14}[0-9]$)" class="form-control" ng-model="user.phone" name="phone" required="">
                        <div class="help-block" ng-messages="form.phone.$error" ng-if="form.phone.$touched">
                            <p ng-message="required">Please enter your Contact Number.</p>
                            <p ng-message="pattern">Please enter valid Contact Number.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>Skype Id:</label></div>
                    <div class="col-md-7"><input type="text" class="form-control" ng-model="user.skypeId" name="skypeId"></div>
                </div>
            </div>

            <ng-include src="'templates/addressDetails.html'"></ng-include>


        </div>

        <div class="horizontal-line"></div>

        <h2 class="inner-head">Employment Details <a href = "" ng-model= "showEmpDetails" ng-click="showEmpDetails = !showEmpDetails"> <i class="fa fa-edit"></i>Edit </a></h2> 
        <div ng-show = "showEmpDetails">

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>*Area of Expertise:</label></div>
                    <div class="col-md-7">
                        <selectize config='skillConfig' options='skillOptions' ng-model="keySkills"></selectize>
                        <p class="msg-error">{{skillMessage}}</p>		
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-5"><label for="domain">*Select Domain Interests:</label></div>
                    <div class="col-md-7">
                        <selectize config='domainsConfig' options='domainOptions' ng-model="domain"></selectize>
                        <p class="msg-error">{{domainMessage}}</p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>*No. of Years of Experience:</label></div>
                    <div class="col-md-7" ng-class="{ 'has-error': form.yearsOfExperience.$touched && form.yearsOfExperience.$invalid}" >
                        <select class="form-control" name="yearsOfExperience" ng-model="yearsOfExperience" required="">
                            <option value="" disabled >Select Your Experience</option>
                            <option value="1">1+</option>
                            <option value="5">5+</option>
                            <option value="10">10+</option>
                            <option value="15">15+</option>
                            <option value="20">20+</option>
                            <option value="25">25+</option>
                            <option value="30">30+</option>
                            <option value="35">35+</option>

                        </select>
                        <div class="help-block" ng-messages="form.yearsOfExperience.$error" ng-if="form.yearsOfExperience.$touched">
                            <p ng-message="required">Please enter your experience.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-5">*Function Interest:</div>
                    <div class="col-md-7">
                        <selectize config='functionalInterestConfig' options='functionalInterestOptions' ng-model="functionalInterest"></selectize>
                        <p class="msg-error">{{functionInterestMessage}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5">*Prefered Location:</div>
                    <div class="col-md-7">
                        <selectize config='locationConfig' options='locationOptions' ng-model="prefLocation"></selectize>
                        <p class="msg-error">{{prefLocationsMessage}}</p>	
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-5"><label>*Interests:</label></div>
                    <div class="col-md-7">
                        <ul id="interestList">
                            <li ng-repeat="item in interest">
                                <input type="checkbox" id="{{item.name}}" value="{{item.name}}" ng-checked="selection.indexOf(item.name) > -1" ng-click="toggleSelection(item.name)" />
                                <label for="{{item.name}}"> {{item.name}}</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5"><label></label></div>
                    <div class="col-md-7">  
                        <p class="msg-error">{{interestMessage}}</p>
                    </div>
                </div>
            </div> 

        </div>


        <div class="horizontal-line"></div>
        <h2 class="inner-head">Educational Details <a href = "" ng-model= "showEduDetails" ng-click="showEduDetails = !showEduDetails"><i class="fa fa-edit"></i> Edit </a></h2> 

        <div ng-show = "showEduDetails">
            <ng-include src="'templates/eduDetails.html'"></ng-include>
        </div>

        <div>
            <div class="horizontal-line"></div>
            <h2 class="inner-head">Experience Details <a href = "" ng-model= "showExpDetails" ng-click="showExpDetails = !showExpDetails"><i class="fa fa-edit"></i> Edit </a></h2> 
        </div>
        <div ng-show = "showExpDetails">
            <ng-include src="'templates/expDetails.html'"></ng-include>
            <div class="horizontal-line"></div>
            <h2 class="inner-head">Miscellaneous Details</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>Certification:</label></div>
                    <div class="col-md-7"><input type="text" class="form-control" name="certificates" placeholder=" Enter certification" ng-model="user.certificates">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-5"><label>Patents:</label></div>
                    <div class="col-md-7"><input type="text" name="patents" class="form-control" placeholder="Name of your Patents" ng-model="user.patents">		
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5"><label>Paper Publication:</label></div>
                    <div class="col-md-7"><input type="text" name="Publication" class="form-control" title="Name of your published paper" placeholder="Name of your published paper" ng-model="user.pprPubli"></div>
                </div>
            </div>

        </div>


        <div class="horizontal-line"></div>

        <div class="row">
            <p class="center"> <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" value="Update"></input></p>
        </div>
        <div class="row" align="center">
            <span class="field-alert"><b> Fields marked with * are mandatory. Please review all the fields if "Update" button is disabled.</b> </span>
        </div>
    </form>
    <ng-include src="'templates/footer.html'"></ng-include>
</div>

