<div class="section">
    <div class="left-section left-section-inner" ng-controller="ResumeController" ng-init="getResume()">

        <div class="loading-spiner-holder" data-loading ></div>
        <div class="profile-card profile-section">
            <div class="center"><h4>
                    <strong><br>Upload Resume</strong><br></h4>
            </div>
            <hr>
            <!--            <strong>Resume:</strong>-->
            <table class="table"><tr>
                    <td>
                        <!--<input type="file" name="resume" accept="application/pdf" file-model="myFile">-->
                        <label class="fileContainer btn btn-bitbucket">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            <input type="file" name="resume" accept="application/pdf" file-model="myFile" >
                        </label>
                        {{filename}}</td><td><button class="btn btn-success" ng-click = "uploadFile('/home/dashboard')">upload file</button> 

                        File format must be .pdf</td></tr></table>
            <div align="right" style="color: #fff;">   <a target="_blank" ng-show="fileURL" ng-href="{{fileURL}}"  style="color: #fff;" class="btn-sm btn-bitbucket">View Existing Resume</a>
                <!--<object ng-show="content" data="{{content}}"  type="application/pdf" style="width:200px;height:200px;"></object>-->

               
                
            </div>
           
          
                <label ng-show="!fileURL" style="color: red">You Haven't Uploaded Your Resume.</label>
            </div>    

        </div>
    
    <ng-include src="'templates/right-menu.html'"></ng-include>	
    <ng-include src="'templates/footer.html'"></ng-include>
</div>