<div class="section reg-form" ng-controller="UpdateProfileController" ng-init="init('Organization')">
    <div class="loading-spiner-holder" data-loading ></div>
    <h1>Organization Profile</h1>
    <h2 class="inner-head">Login Details</h2> 

    <form name="form" ng-submit="submitProfileForm(form.$valid)" role="form" >
        <div>
             <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Email Id:</label></div>
                        <div class="col-md-7">
                            <input type="email" name="oEmail" class="form-control" placeholder="Enter your E-mail ID" ng-model="user.emailId" disabled/>
                            <div ng-show="form.$submitted || form.oEmail.$touched">
                                <span class="field-alert" ng-show="form.oEmail.$error.required">
                                    This field is required!
                                </span>
                                <span class="field-alert" ng-show="form.oEmail.$error.email">
                                    This not a valid email.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



            <div class="horizontal-line"></div>

            <h2 class="inner-head">Basic Information<a href = "" ng-model= "showBasicInfo" ng-click="showBasicInfo = true"> <i class="fa fa-edit"></i> Edit </a></h2> 
            <div ng-show = "showBasicInfo">
               


                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Organisation Type:</label></div>
                        <div class="col-md-7">
                            <label><input type="radio" name="optradio1" value="Product based" ng-model="user.type" required=""> Product based</label> 
                            <label><input type="radio" name="optradio1" value="Service based" ng-model="user.type" required=""> Service based</label> 
                            <label><input type="radio" name="optradio1" value="Product Based and Service Based" ng-model="user.type" required=""> Both</label>
                            <div ng-show="form.$submitted || form.optradio1.$touched">
                                <span class="field-alert" ng-show="form.optradio1.$error.required">
                                    This field is required!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-5"><label for="domain">*Domain Interest:</label></div>
                            <div class="col-md-7">
                                <selectize config='domainsConfig' options='domainOptions' ng-model="domain"></selectize>
                                <!--<p class="msg-error">{{domainMessage}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Website:</label></div>
                        <div class="col-md-7"><input type="text" name="website" class="form-control" ng-model="user.website" required="" >
                            <div ng-show="form.$submitted || form.website.$touched">
                                <span class="field-alert" ng-show="form.website.$error.required">
                                    This field is required!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>No. of Employees:</label></div>
                        <div class="col-md-7">
                            <select class="form-control" name="noOfEmployee"  ng-model="user.numberOfEmployees">
                                <option  value="" disabled>- Select no. of employees -</option>
                                <option value="1-50">1-50</option><option value="51-100">51-100</option><option value="101-500">101-500</option><option value="501-1000">501-1000</option><option value="1000+">1000+</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>Year Of Establishment:</label></div>
                        <div class="col-md-7">
                            <div ng-class="{
                    'has-error'
                            : form.yearFound.$touched && form.yearFound.$invalid}">
                                <input type="text" only-num class="form-control" placeholder="Enter Year of Establishment" maxlength="4" minlength="4" name="yearFound" ng-model="yearFounded">


                                <div class="help-block" ng-messages="form.yearFound.$error" ng-if="form.yearFound.$touched">

                                    <p ng-message="minlength">Year Of Establishment should be 4 digits.</p>
                                    <p ng-message="maxlength">Year Of Establishment should be 4 digits.</p>


                                    <!--<P ng-message="pattern">Enter Valid Year in format YYYY</p>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Interests:</label></div>
                        <div class="col-md-7">
                            <ul id="interestList">
                                <li ng-repeat="item in interest">
                                    <input type="checkbox" id="{{item.name}}" value="{{item.name}}" ng-checked="selection.indexOf(item.name) > -1" ng-click="toggleSelection(item.name)" />
                                    <label for="{{item.name}}"></label>
                                    {{item.name}}
                                </li>
                            </ul>
                            <p class="msg-error">{{interestMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-line"></div>

            <h2 class="inner-head"> Contact Information<a href = "" ng-model= "showContactInfo" ng-click="showContactInfo = true"> <i class="fa fa-edit"></i> Edit </a></h2> 
            <div ng-show = "showContactInfo">


                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Country:</label></div>
                        <div class="col-md-7" ng-class="{ 'has-error': form.country.$touched && form.country.$invalid}">
                            <select name="country" class="form-control" ng-model="country" ng-options="obj.id as obj.country for obj in countries" ng-change="getCountryStates()" id="country" required="">
                                <option value="">-- Choose Country --</option>
                            </select>
                            <div class="help-block" ng-messages="form.country.$error" ng-if="form.country.$touched">
                                <p ng-message="required">Please select Country.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*State:</label></div>
                        <div class="col-md-7"  ng-class="{ 'has-error': form.state.$touched && form.state.$invalid}">
                            <select name = "state" ng-show ="showSelectbox('country')" class="form-control" title="Choose State" ng-model="state" ng-options="x.Id as x.state for x in states"
                                    ng-change = "getStateCities()" id="state" ng-required="showSelectbox('country')">
                                <option value="" disabled>-- Choose State --</option>
                            </select>

                            <input type="text" only-alpha placeholder="Choose State" ng-hide="showSelectbox('country')" ng-required="!showSelectbox('country')" name="state" class="form-control" title="Choose State" ng-model="state" id="state" required="">
                            <div class="help-block" ng-messages="form.state.$error" ng-if="form.state.$touched">
                                <p ng-message="required">Please select State.</p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="col-md-5"><label>*City:</label></div>
                        <div class="col-md-7"><input type="text" name="city" class="form-control" ng-model="city" required="">
                            <div ng-show="form.$submitted || form.city.$touched">
                                <span class="field-alert" ng-show="form.city.$error.required">
                                    This field is required!
                                </span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Contact Person:</label></div>
                        <div class="col-md-7"><input only-alpha type="text" name="contactPerson" class="form-control" ng-model="user.contactPerson" required="">
                            <div ng-show="form.$submitted || form.contactPerson.$touched">
                                <span class="field-alert" ng-show="form.contactPerson.$error.required">
                                    This field is required!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-5"><label>*Contact Number:</label></div>
                        <div class="col-md-7"><input type="text" only-phone min ="0" maxlength="17" name="contactNumber" class="form-control" ng-model="user.contactNumber" pattern="(^\+?(?:[0-9] ?){6,14}[0-9]$)" required="">
                            <div class="help-block" ng-messages="form.contactNumber.$error" ng-if="form.contactNumber.$touched">
                                <p ng-message="required">Please enter your Contact Number.</p>
                                <p ng-message="pattern">Please enter valid Contact Number.</p>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
            <div class="horizontal-line"></div>


            <div class="row">
                <p class="center"> <input type="submit" class="btn btn-primary" ng-disabled="" value="Update"></input></p>
            </div>
            <div class="row" align="center">
                <span class="field-alert"> <b>Fields marked with * are mandatory. Please review all the fields if "Update" button is disabled. </b></span>
            </div>

            <ng-include src="'templates/footer.html'"></ng-include>
        </div>
    </form>
</div>

